<div class="content_news">
					<div class="list">
						<div class="title">Quyền lợi thành viên</div>
						<div class="list">
							<div id="news_content_view">								 
								<div class="padding card">
		                    		<ul class="tt">
		                    			<li>
		                    				<a class="" href="/quyenloi-the-thanh-vien/1" >Hướng dẫn đăng ký</a>
		                    			</li>
		                    		    <li>
		                    				<a class="active" href="/quyenloi-the-thanh-vien" >Quyền lợi thành viên</a>
		                    			</li>
		                    		   
									</ul>
		                    	</div>
		                    <div ng-if="detail"	>
		                    	<div class="padding">
					      		   <strong>Tặng Coupon gia dụng</strong>
					   			    <div ng-bind-html="detail['coupon']">
					   			    </div>
					   			    
					           </div>

					           <div class="padding">
					      		   <strong>Giảm giá khi mua hàng</strong>
					   			    <div ng-bind-html="detail['discount']">
					   			    </div>         
					           </div>

					           <div class="padding">
					      		   <strong>Ưu đãi sinh nhật</strong>					   			   
									  <div ng-bind-html="detail['birthday']">
					   			    </div>         
					           </div>

							</div>

							  <div ng-if="detail"	>
		                    	<div class="padding">
		                    			<div id="content" class="clearfix content-chi-nhanh" style="width: 919px;">
                 						   <div class="error_tvtt">Vui lòng quay lại sau khi có chương trình</div>                </div>



		                    	</div>
		                    </div>
						  </div>

						</div>
							
					</div>

				</div>