<div class="content_news">
					<div class="list">
						<div class="title">Quyền lợi thành viên</div>
						<div class="list">
							<div id="news_content_view">								 
								<div class="padding card">
		                    		<ul class="tt">
		                    			<li>
		                    				<a class="" href="">Hướng dẫn đăng ký</a>
		                    			</li>
		                    		    <li>
		                    				<a class="active" href="">Quyền lợi thành viên</a>
		                    			</li>
		                    		    <li>
		                    				<a class="" href="">Tích lũy điểm</a>
		                    			</li>
		                    		    <li>
		                    				<a class="" href="">Ngày hội thành viên</a>
		                    			</li>
									</ul>
		                    	</div>
		                    	<div class="padding">
					      		   <strong>Tặng Coupon gia dụng</strong>
					   			     <img class="images_style" ="" src="http://m.dienmaycholon.vn/img/userupload/images/tangcoupongiadung.jpg">
					           </div>

					           <div class="padding">
					      		   <strong>Giảm giá khi mua hàng</strong>
					   			    <img class="images_style" ="" src="http://m.dienmaycholon.vn/img/userupload/images/giamgiakhimuahang.jpg">               
					           </div>

					           <div class="padding">
					      		   <strong>Ưu đãi sinh nhật</strong>					   			   
									<img class="images_style" ="" src="http://m.dienmaycholon.vn/img/userupload/images/quyenloitvtt.jpg">               
					           </div>

							</div>
						</div>
							
					</div>

				</div>