<div class="list content-product-detail">				

			    <div class="bar-balanced header_bar ">
					<strong class="bt_title">
						Kiểm tra thông tin đơn hàng
					</strong>
						
			    </div>		    
				
				<div class='not_position'>
					<div class="list step2 cart">					
	    				<div>
	    					<label>
							    
							    <input placeholder="Nhập mã đơn hàng" name="code" type="text" value="">
						    </label>						    
	    				</div>				    	
					</div>
					<div class="list step3">
						<div class="list buy">						
							<a href="">Kiểm tra</a>
						</div>				
					</div>
				</div>
				
			</div>