<div class="content_news">
					<div class="list">
						<div class="title">Hướng dẫn đăng ký</div>
						<div class="list">
							<div id="news_content_view">								 
								<div class="padding card">
									<ul class="tt">
		                    			<li>
		                    				<a class="active" class="" href="/quyenloi-the-thanh-vien/1" >Hướng dẫn đăng ký</a>
		                    			</li>
		                    		    <li>
		                    				<a  href="/quyenloi-the-thanh-vien" >Quyền lợi thành viên</a>
		                    			</li>

		                    	</div>
		                    	<div class="padding">
					      		   <strong>Điều kiện tham gia</strong>
					   			  	<div ng-bind-html="detail1['conditions']">
					   			  	</div>
					           </div>

					           <div class="padding">
					      		   <strong >Cách thức tham gia</strong>
					   			     
									<div ng-bind-html="detail1['rules']">
										</div>
									               
					           </div>

					           <div class="padding">
					      		   <strong>Điều khoản và điều kiện</strong>					   			   
									                    
										<div ng-bind-html="detail1['terms']">
										</div>
									                
					           </div>

							</div>
						</div>
							
					</div>

				</div>