<div class="content_news">
					<div class="list">
						<div class="title">Chi tiết Mua trả góp ACS</div>

						<div class="list">
							<div id="news_content_view">							
								 
								<div class="row">
									<div class="col">
									  <a href="/mua-tra-gop?pay=1">
									  	 		<img class="images_style" src="http://m.dienmaycholon.vn/img/picture/pay/dienmay_1.png">
									  </a>
									    <a href="/mua-tra-gop?pay=1" class="detail_style_tg">
									  	 		<img src="http://m.dienmaycholon.vn/img/default/img/xemchitiet.png">
									  </a>
									</div>
									<div class="col">
									  <a href="/mua-tra-gop?pay=2">
										 		<img class="images_style" src="http://m.dienmaycholon.vn/img/picture/pay/dienmay_2.png">
										 </a>
										  <a href="/mua-tra-gop?pay=2" class="detail_style_tg">
									  	 		<img src="http://m.dienmaycholon.vn/img/default/img/xemchitiet.png">
									  </a>
									</div>
								</div>

								
<div class="padding">
      		   <strong class="tag-blue">Danh sách chi nhánh có quầy trả góp của các đối tác</strong>
   			     <img class="images_style" src="http://m.dienmaycholon.vn/img/default/img/listtragop.png">
           </div>

         <div class="padding">
      		   <strong class="tag-blue">Quy định mua hàng trả góp</strong>
   			     <img class="images_style" src="http://m.dienmaycholon.vn/img/default/img/quydinhtragop.png">
           </div>


							



							</div>
						</div>



						

					</div>



				</div>