.css_news_content_view .news_content_main, .css_news_content_view .news_content_main img, .css_news_content_view .news_content_main table {
    width: 100% !important;
    vertical-align: top;
    height: 40%;
}
.button-price.button-stable.button-clear{
  text-decoration: line-through;
}
.has-header .footer .list .item-avatar i.iconmobile-mebe {
    background-position: -692px 2px;
    height: 33px;
}
.item-price3{
  
}
input.product_limit{
  border:1px solid #ddd;
}
.my-similar{
      position: relative;
    display: inline-block;
    width: 74%;
    /* float: left; */
}
.has-header .list-main-sub-product.list-main-sub-product-compare .tbl-so-sanh div:first-child, .has-header .list-main-sub-product.list-main-sub-product-compare .tem-compare div:first-child{
      min-height: 172px !important;
}
.has-header .list-main-sub-product.list-main-sub-product-compare .tbl-so-sanh div, .has-header .list-main-sub-product.list-main-sub-product-compare .tem-compare div{
      font-size: 13px;
    height: 36px;
}
.tbl-so-sanh{
    float: left;
}
.has-header .list-main-sub-product.list-main-sub-product-compare .tem-compare1 {
    float: left;
    margin: 0px !important ;
    width: 50% !important;
}
.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
} 
 .star-rating .star {
    padding: 1px;
    background: url(../images/star-off.png) no-repeat;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
        width: 17px;
    height: 15px;
    background-size: 15px 15px;
}
 .star-rating   .star.filled {
      color: #fd0;
      background: url(../images/star-on.png) no-repeat;
         width: 17px;
    height: 15px;
    background-size: 15px 15px;
    }
  .dau_gia{
    max-width:166px;
  }

 .star-rating   .star.readonly .star.filled {
    color: #666;
    background: url(../images/star-on.png) no-repeat;
        width: 17px;
    height: 15px;
    background-size: 15px 15px;

  }
