/* Empty. Add your own CSS if you like */
.logo{
  margin-top:10px;
  max-width:100px;
}
.has-header .content-product-detail div.product-detail-gift{
    padding: 10px !important;
    line-height: 21px;
    text-align: left;
    top: -10px;
    border-top: 0px !important;
}
.widthall .popup{
  width:90%;
}
.has-header .content-product-detail .product-detail-gift .list{
   font-size: 14px;
    font-weight: 500;
    color: #000;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
.product-detail-gift ul li{
  width:100%;
}
.product-detail-gift ul li p{
  width:auto;
  display: inline-block;
}
 .has-header .content-product-detail .list.step3 .product-detail-gift ul.listgift li p span{
  /*color: #fff;*/
}
.slideshow_main img{
  width:100%;
}
a{
  text-decoration: none;
}
.not_position .tab-nav {
  position: relative;
  float:left;
  top:0px
}
.title_product{
  color: #494343;
max-height: 100px;
font-size: 12px;
text-indent: 10px;
font-weight: bold;
text-overflow: ellipsis;
position: relative;
line-height: 17px;
white-space: normal;
height: 36px;
overflow: hidden;
display: inline-block;
font-family: Arial;
  
}
.button-price{
  font-size:13px;
  min-height: 20px;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: block;
    text-align: left;
}
.header_bar{
  border-top: 2px solid #f3f3f3;
color: #444;
padding: 7px;
border-bottom: 3px solid #ea3d41;
}
.ui-widget-header {
    background: #1163ac;
}
.ui-widget-content{
  height: 6px !important;
}