@charset "UTF-8";
@import "path";
@import "font";

[class^="iconmobile-"], [class*="iconmobile-"] {
    background-image: url(../images/img-general.png) !important;
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
}
.menu-open{
	.bg_popup{
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		z-index: 10;
		background: black;
		opacity: 0.4;
		-moz-opacity: 0.4;
		filter:alpha(opacity="40");
	}
	.menu-left{
		.bar-header{
			box-shadow: 0 0 12px 1px #E0DCDC;
			background-color: #f9f9f9;
			-moz-box-shadow: 0 0 12px 1px #E0DCDC;
			-webkit-box-shadow: 0 0 12px 1px #E0DCDC;
			box-shadow: 0 0 12px 1px #E0DCDC;
			border-color: #EEE;
			color: #fff;
			h1{
				line-height: 22px;
				a{
					img{
					    width: 170px;
					    height: auto;
					}
				}
			}
		}
		.has-footer{
			top: 65px;
			.scroll{
				.list{
					margin-bottom: 0;
					font-size:14px;
					background-color:#f6f6f6;
					.iconmobile-cart{
						background-position: -386px -35px;
					    width: 51px;
					    height: 40px;
					}
					.numcart{
						color: #fb4c36;font-weight:600;
					}
					&.menu{
						background: none;
						margin-bottom: 0px;
						ul{
							padding: 0 15px;
							font-size: 13px;
							color: #58595b;
							li{
								border-bottom: 1px solid #cdcdcd;
								line-height: 35px;
								.iconmobile-menu-all{
									background-position: -641px -46px;
								}
								.iconmobile-check-order{
									background-position: -607px -46px;
								}
								.iconmobile-login{
									background-position: -506px -46px;
								}
								.iconmobile-face{
									    background-position: 6px -48px;
									    width: 171px;
									    height: 24px;
								}
								.iconmobile-desktop{
									background-position: -540px -46px;
								}
								a{
									color: #58595b;
								}
								&:last-child{
									border-bottom:none;
								}
							}
						}
					}
					&.list-lienhe{
						padding: 1px 15px;
						span{
							color: #fb4c36;
							font-weight: bolder;
						}
						p{
							font-size: 13px;
						}
						.iconmobile-hotline{
						    background-position: -2px -267px;
						    width: 70px;
						}
					}
				}
			}
		}
	}
}
.notext{
	padding: 0;
    width: 1.75em;
    height: 1.75em;
    text-indent: -9999px;
    white-space: nowrap!important;
}


.ui-title{
    font-size: 1em;
    min-height: 1.1em;
    text-align: center;
    display: block;
    margin: 0 30%;
    padding: .7em 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    outline: 0!important;
}

.bar-footer{
	text-align:center;
	height:60px;
	background:none;
	border:none;
	display: inline-block;
	.iconmobile-bg_call{
	    background-position: -339px -76px;
	    width: 318px;
	    height: 54px;
		
	}
}
.bar-positive{
	    background-color: #f6f6f6;		

		-moz-box-shadow: 0 0 12px 1px #E0DCDC;
		-webkit-box-shadow: 0 0 12px 1px #E0DCDC;
		box-shadow: 0 0 12px 1px #E0DCDC;
	h2{
		padding: 0 9px 0;
	}
	.ui-title{	   
		a{
			display: inline-block;
		    text-decoration: none;
		    min-height: 40px;
		}
		img{
			display: block;
		    width: 140px;
		    height: auto;
		}
	}
	
	.ui-btn{
		width: 2em;
	    height: 2em;
	    background: none;
	    border: 0;
	    top: 50%;
	    margin-top: -1em;
	    -webkit-border-radius: .3125em;
	    border-radius: .3125em;
	}
	.jqm-navmenu-link{
		&:after{
			background-image: url(../images/img-general.png) !important;
		    background-repeat: no-repeat;
		    display: inline-block;
		    height: 33px;
		    width: 33px;
		    line-height: 30px;
		    vertical-align: middle;
		    background-position: -330px -41px;
		}
	}

	.iconmobile-user {
	    background-position: -439px -32px;
	    width: 65px;
	    height: 40px;
	    right: 10%;
	    margin-top: -1.3em;
	}
	.iconmobile-cart {
	    background-position: -386px -32px;
	    width: 65px;
	    height: 40px;
	    margin-top: -1.1em;
	    right: 0%;
	}
}

.has-header{
	.content-product-detail{
		border-top:1px solid #cdcdcd;
		background-color: white;
		.list{
			.thankspage{
				.tag-red{
					color: red;
				}
			}
			border-bottom: 1px solid #e7e7e7;
			margin: 10px;
			margin-bottom: 0;
			&.step1{
				p{
					.name_product{
						font-weight: 600;
						font-size: 18pt;
					}
					.text{
						font-size: 12pt;
						&.padding-left-10{
							padding-left: 10px;
						}
						&.padding-right-10{
							padding-right:10px;
						}
					}
					.name-seri{
						color: #1163ac;
						font-size: 12pt;
					}
					.num-star{
						color: #ff6c00;
					}
				}
				a{
					.image_cate{
						padding: 10px;
    					width: 100%;
					}
				}
				.header_bar{
					border-top: none;
				}
			}
			&.step2{
				padding:5px;
				color: #888888;
				table{
					margin-bottom: 8px;
					tr{
						td{
							&.text-right{
								text-align: right;
								font-size: 12pt;
							}
							span{
								padding-left:10px;
								&.price-tt{
									color: #4d4d4f;
									text-decoration: line-through;									
								}
								&.price-gb{
									color: #fb4c36;
									font-size: 13pt;
									font-weight: 600;
								}
								&.ship-free{
									color: #4d4d4f;
									span{
										font-weight: 600;
									}
									a{
										color: #1163ac;
									}
								}
								&.price-tk{
									color: #fb4c36;
								}
							}
						}
					}
				}
				.row{
					.col{
						.color_one{
							color: red;
							font-weight: bold;
						}
						.status{
							color: rgb(255, 102, 0);
						}
					}
				}
				.item{
					font: normal 12px;
    				color: #4d4d4f;
					&.activated{
						background-color:#fff !important;
					}
					small{
						.color_default{
							color: #ff492b;
						}
						.tag-pay, .tag-green{
							color: #019100;
						    font-size: 12px;
						    vertical-align: middle;
						    font-weight: 100;
						}
					}
					.item-price {
					    font-size: 13px;
					    border: 0px;
					    margin-top: 10px;
					    border-top: 1px solid #ddd;
					}
					.color_default{
						color: #ff492b;
						font-weight: bolder;
						font-size: 13px;
					}
					
					.input-label{
						-webkit-box-flex: 1;
					    -webkit-flex: 1 0 100px;
					    -moz-box-flex: 1;
					    -moz-flex: 1 0 100px;
					    -ms-flex: 1 0 100px;
					    flex: 1 0 100px;
					    display: table;
					    padding: 6px 10px 7px 0px;
					    max-width: 200px;
					    width: 35%;
					    color: #7F7F7F;
					    font-size: 14px;
					}
					select{
						-webkit-appearance: none;
					    -moz-appearance: none;
					    appearance: none;
					    position: absolute;
					    top: 0;
					    right: 0;
					    padding: 6px 48px 16px 16px;
					    max-width: 65%;
					    border: none;
					    background: #fff;
					    color: #333;
					    text-indent: 0.01px;
					    text-overflow: '';
					    white-space: nowrap;
					    font-size: 14px;
					    cursor: pointer;
					    direction: rtl;
					}
				}
				&.cart{
					border-bottom:none;
					.form-option{
						color: #4c4c4c;
						input{
							border: 1px solid #ddd;
    						padding: 5px;
    						margin: 10px 0;
						}
						select{
							width: 100%;
						    border: 1px solid #ddd;
						    padding: 7px;
						    margin: 10px 0;
						}
						&.step3{
							.col{
								div{
									label{
										font-weight: 900 !important;
										color: #000;
									}
								}
							}
						}
					}
				}
			}
			&.list_chinhanh{
				.item{
					.row{
						.col{
							.rote{
							    font-weight: bold;
							    border: 1px solid #ff6c00;
							    width: 30px;
							    height: 30px;
							    text-align: center;
							    display: block;
							    line-height: 28px;
							    position: absolute;
							    margin-left: -6px;
							    vertical-align: middle;
							    margin-top: 6px;
							    border-radius: 15px;
							    -moz-border-radius: 15px;
							    -webkit-border-radius: 15px;
							    color: #ff6c00;
							}
						}
					}
				}
				.hidden-class{
					.padding-left{
						strong{
							color: #ff6c00;
						}
						p{
							color: #000;
							padding:0;
						}
					}
				}
			}
			&.step3{
				border-bottom:none;
				p{
					span{
						color: #4d4d4f;
						&.text{
							color: #009900;
						}
						a{
							color: #1163ac;
						}
					}
				}
				>.list{
					color: #000;
					font-weight: 700;
					border:1px solid #cdcdcd;
					margin: 0;
					background-color: #eff0f2;
					padding:10px;
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					border-radius: 5px;
					margin-bottom: 10px;
					.iconmobile-mt{
				    	background-position: -762px -48px;
					    float: right;
					    width: 17px;
					    height: 16px;
				    }
				    .float-right{
				    	float: right;
				    	.iconmobile-daucong{
				    		background-position: -734px -98px;
						    width: 35px;
						    height: 33px;
						    margin-top: -6px;
						    float: left;
						    cursor: pointer;
				    	}
				    	.number{
				    		width: 50px;
				    		border:1px solid #cdcdcd;
				    		float: left;
				    		text-align: center;
				    		height: 29px;
				    		margin-top: -4px;
				    		-webkit-border-radius: 3px;
							-moz-border-radius: 3px;
							border-radius: 3px;
				    	}
				    	.iconmobile-dautru{
				    		background-position: -789px -98px;
						    width: 35px;
						    height: 33px;
						    margin-top: -6px;
						    float: right;
						    cursor: pointer;
				    	}
				    	div{
				    		float: left;
				    		width: 30px;
				    		height: 30px;
				    		margin: -6px 5px -6px 5px;
				    		cursor: pointer;
				    		&.color1{
				    			background-color: #ff97d4;
				    			border: 1px solid #ff6cc3;
				    		}
				    		&.color2{
				    			background-color: #ffcf00;
				    			border: 1px solid #ffba00;
				    		}
				    		&.color3{
				    			background-color: #ff9b00;
				    			border: 1px solid #ff7300;
				    		}
				    		&.color4{
				    			background-color: #000000;
				    			border: 1px solid #000000;
				    		}
				    		&.color5{
				    			background-color: #ffffff;
				    			border: 1px solid #ffffff;
				    		}
				    	}
				    }
				    &.tragop{
				    	font-size: 14px;
				    	font-weight: 500;
				    	background-color:#fff;
				    	border-bottom:none;
				    	.text{
				    		color: #ff492b;
				    		font-weight: bold;
				    	}
				    	.text-click{
				    		color: #1163ac;
				    	}
				    	.iconmobile-mt{
				    		margin-top: -8px;
				    	}
				    }
				    &.call-hotline{
				    	background-color:#fff;
				    	margin-top: -14px;
				    	font-size: 14px;
				    	font-weight: 500;
				    	span{
				    		color: #ff492b;
				    		font-weight: 600;
				    	}
				    }
				    &.buy{
				    	background-color:#0f5fa2;				    	
				    	font-size: 15px;
				    	text-align: center;
				    	.iconmobile-buy{
				    		background-position: -850px -102px;
				    	}
				    	a{
				    		color: #fff200;
				    	}
				    }
				    &.call-me{
				    	background-color:#4e5052;				    	
				    	font-size: 15px;
				    	text-align: center;
				    	.iconmobile-call-me{
				    		background-position: -899px -102px;
				    	}
				    	a{
				    		color: #fff;
				    	}
				    }
				    &.share{
				    	background-color:#fff;
				    	font-weight: 500;
				    	font-size: 14px;
				    	text-align: center;
				    }
				    &.giacu{
				    	font-weight: 300;
				    	background-color:#fff;
				    }
				    &.product-ct{
				    	background-color:#fff;
				    	padding:0;
				    	.list-img{
				    		text-align: center;
				    		div{
				    			display: inline-block;
				    			width: 27.3333%;
				    			margin: 10px 0;
				    		}
				    	}
				    	.iconmobile-congxanh{
				    		background-position: -334px -176px;
						    width: 20px;
						    height: 80px;
						    margin-top: -105px;
				    	}
				    	.iconmobile-congxam{
				    		background-position: -366px -207px;
						    width: 20px;
						    height: 20px;
						    margin-top: -104px;
				    	}
				    	.list-pro-null{
				    		border-top:1px solid #cdcdcd;
				    		border-bottom: none;
				    		margin: 0;
				    		div{
				    			display: inline-table;
				    			border-left: 1px solid #cdcdcd;				    			
				    			text-align: center;
				    			padding: 10px;
				    			margin-top: -2px;
				    			&.one{
				    				width: 15%;
				    			}
				    			&.two{
				    				width: 84%;
				    				text-align: left;
				    				font-size: 14px;
				    				.name-pro{
				    					color: #4d4d4f;
				    					font-weight: 500;
				    				}
				    				.price{
				    					color: #fb4d38;
				    					font-weight: 300;
				    				}
				    				.iconmobile-mt{
				    					margin-top: -15px;
				    				}
				    			}
				    			&:first-child{
				    				border:none;
				    			}
				    		}
				    		.buy-all{
				    			border-left: none;
				    			background-color: #0f5ea1;
				    			-webkit-border-radius: 3px;
								-moz-border-radius: 3px;
								border-radius: 3px;
								color: #fff200;
								font-weight: 500;
								width: 300px;
								border: 1px solid #074277;
				    		}
				    		&.buy-group{
				    			text-align: center;
				    			margin-bottom: 10px;
				    			p{
				    				padding: 10px 0;
				    				margin: 0;
				    			}
				    			span{
				    				color: #fb4d38;
				    			}
				    		}
				    	}
				    }
				    &.product-detail{
				    	background-color:#fff;
				    	padding:0;
				    	&>div:first-child{
				    		border-bottom: 1px solid #cdcdcd;
				    	}
				    	>div{
				    		padding:10px;
				    		position:relative;
				    		.content{
				    			font-weight: 500;
				    			max-height: 100px;
				    			overflow: hidden;
				    			width: 96%;
				    			ul{
				    				li{
				    					list-style: square url(../images/po.png);
    									margin-left: 16px;
				    				}
				    			}
				    		}
				    		.iconmobile-mt{
				    			position: absolute;
							    right: 18px;
							    top: 50%;
				    		}
				    	}
				    }
				    &.compare-detail{
				    	background-color:#fff;
				    	border-bottom:none;
				    	border-left: none;
				    	border-right:none;
				    	font-weight: 500;
				    	border-radius: 0;
				    	padding: 0;
				    	.iconmobile-buy-red, .iconmobile-buy-black{
				    		background-position: -585px -142px;
				    	}
				    }
				    &.question{
				    	background-color:#fff;
				    	padding: 10px 0;
				    	> div{
				    		position: relative;
				    		border-top: 1px solid #cdcdcd;
				    		padding: 10px 0;
				    		&:first-child{
				    			border-top: none;
				    		}
					    	div{
					    		&.question-s, &.answer{
					    			width: 97%;
					    			.iconmobile-dauhoi{
					    				float: left;
					    				background-position: -720px -156px;
					    			}
					    			div{
					    				display: table-cell;
					    				color: #1163ac;
					    				font-size: 13px;
					    				p{
					    					margin: 4px 0;
					    					span{
					    						color: #77787b;
					    						font-size: 12px;
					    						font-weight: 500;
					    					}
					    					a{
					    						color: #1163ac;
					    					}
					    				}
					    			}
					    		}
					    		&.answer{
					    			.iconmobile-daucheck{
					    				float: left;
					    				background-position: -753px -156px;
					    			}
					    			div{
					    				color: #4d4d4f;
					    				font-weight: 500;
					    				>div{
					    					overflow: hidden;
					    					max-height: 100px;
					    				}
					    			}
					    		}
					    	}
					    	.iconmobile-mt{
					    		background-position: -762px -48px;
					    		position: absolute;
					    		right: 0;
					    		top: 45%;

					    	}
					    	a{
					    		font-size: 12px;
    							color: #000;
    							.iconmobile-mt{
    								background-position: -762px -49px;
    							}
					    	}
				    	}
				    	
				    }
				    &.danhgia{
				    	>div{
				    		padding: 10px 10px 5px 10px;
				    		font-size: 13px;
				    		&:first-child{
				    			padding-top: 0;
				    			.iconmobile-mt{
				    				top: 25%;
				    			}
				    		}
				    		.iconmobile-mt{
				    			top: 50%;
				    		}
				    		.text{
				    			font-weight: 500;
				    			width: 97%;
				    			color: #4d4d4f;
				    			p{
				    				span{
				    					&.action{
				    						color: #1163ac;
				    					}
				    					&.autor{
				    						color: #888888;
				    						font-size: 12px;
				    						a{
					    						color: #1163ac;
					    					}
				    					}
				    				}
				    				.iconmobile-like{
				    					background-position: -789px -160px;
									    width: 19px;
									    height: 22px;
				    				}
				    				.iconmobile-dislike{
				    					background-position: -823px -160px;
									    width: 20px;
									    height: 19px;
				    				}
				    			}
				    		}
				    	}
				    }
				    &.button-danhgia{
				    	background-color: #f4f5f6;
				    	text-align: center;
				    	a{
							color: #000;
				    	}
				    }
				    &.button-dichvu{
				    	background-color: #f3e525;
				    	text-align: center;
				    	a{
							color: #000;
				    	}				    	
				    }
				    &.product-saw{
				    	background-color: #fff;
				    	div{
				    		display: inline-block;
				    		width: 29.8333%;
				    		text-align: center;
				    		border: 1px solid #cdcdcd;
				    	}
				    	.iconmobile-mt{
				    		position: absolute;
						    right: 0;
						    top: 43%;
				    	}
				    	
				    }
				}
			}
			h2{
				color: #1163ac;
			    font-family: Arial;
			    font-size: 19pt;
			    font-weight: bold;
			}


		}
	}
	.main-sub{
		.tabs{
			display: none;
		}
	}
	.list-cate-menu{
		padding: 10px;
		ul{
			border: 1px solid #c6c6c6;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			li{
				border-bottom: 1px solid #c6c6c6;
				padding:10px;				
				&:last-child{
					border-bottom:none;
				}
				a{
					span{
						font-size: 14px;
						color: #000;
						&.iconmobile-mt{
					    	background-position: -762px -48px;
						    float: right;
						    width: 17px;
						    height: 16px;
					    }
					}
				}
			}
		}		
	}
	.list-main-sub-product{
		margin-bottom: 10px;
		.row{
			padding-top:0;
			padding-top: 10px;
    		border-top: 1px solid #cdcdcd;
    		&:first-child{
    			border-top:none;
    		}
			.col{
				padding-top:0;
				.button-stable{
					color: #4d4d4f;
					text-decoration: line-through;
				}
			}
			.right{
				padding:10px;
				position:relative;
				.title_product{
					height: auto;
					text-indent:0;
				}
				.button-stable{
					color: #4d4d4f;
					text-decoration: line-through;
				}
				.iconmobile-giamgia{
				    background-position: -680px -93px;
				    width: 39px;
				    height: 40px;
				    font-size: 13px;
				    color: #fff;
				    padding-left: 5px;
				    line-height: 35px;
				    position: absolute;
				    bottom: 20px;
				    right: 10px;
				}
			}
		}
		.more-product{
			min-height: 30px;
			line-height: 30px;
			border-color: #000;
    		background-color: #4f5153;
    		min-width: 356px;
    		margin: 0 25px;
    		a{
    			color: #fff;
    		}
		}
		&.list-main-sub-product-compare{
			color: #231f20;
			font-size: 14px;
			& > div{
				display: inline-block;
			}
			.tbl-so-sanh, .tem-compare{
				width: 25%;
				overflow: hidden;
				div{
				    padding: 7px 2px;
				    background: #f8f8f8;
				    text-align: left;
				    border-bottom: 1px solid #e5e5e5;
				    &:first-child{
				    	min-height: 140px;
				    	background: #fff !important;
				    }
				    &:last-child{
				    	min-height: 60px;
				    	background: #fff !important;
				    	border-bottom:none;
				    }
				}
			}
			.tem-compare{
				width: 33.33333%;
				margin-left: -4px;
				div{

					&:first-child{
						text-align: center;
					}

					border-left: 1px solid #e5e5e5;
					padding-left: 6px;
					&:last-child{
				    	border-left:none;
				    	text-align: center;
				    }
					&.div-star{
						padding: 6px 2px;
						.sl-star{
							color: #ff6c00;
						}
					}
					&.price{
						color: #ff492b;
						font-weight: bolder;
					}
					.bold{
						font-weight: 600;
						color: #000;
						font-size: 13px;
					}
					.iconmobile-buy-red{
						background-position: -325px -142px;
					    width: 130px;
					    height: 36px;
					}
					.iconmobile-buy-black{
						background-position: -454px -142px;
					    width: 130px;
					    height: 36px;
					}

				}
				&.hover-bg{
					div{
						background: #ffffe0;
					}
				}
			}
			&.list-main-sub-product-filter{
				div{
					display: block;
					.list{
						padding: 7px 5px;
						margin-bottom: 0;
						border-bottom: 1px solid #cdcdcd;
						a{
							color: #4d4d4f;
							font-size: 12px;
							.iconmobile-daucong{
							    width: 20px;
							    height: 20px;
							    background-position: -820px -52px;
							}
							&.active{
								.iconmobile-daucong{
									background-position: -852px -52px;
								}	
							}
							&:hover{
								color: #1163ac;
							}
						}						
					}
					.list-item{
						padding:10px;
						display: none;
						ul{
							padding:10px;
							padding-top: 0;
							li{
								padding: 6px 0;
								border-bottom:1px solid #cdcdcd;
								a{
									color: #4d4d4f;
									font-size: 12px;
									input{
										float: right;
									}
									&:hover{
										color: #ff6c00;
									}
								}
								.price_sidebar_view{
									color: #1163ac;
									font-weight: bold;
									font-size: 12px;
								}
							}
						}
					}
					.action{
						    margin-top: 10px;text-align: center;
						div{
							.button{								
								border: none;
								font-weight: bolder;
								&.xacdinh{
									color: #fff200;
									background-color: #0f5ea1;
									min-width: 385px;
								}
								&.huybo{
									color: #000;
									background-color: #f1f2f4;
									border: 1px solid #cdcdcd;
									min-width: 385px;
								}
							}
						}
					}
				}
			}
		}
	}
	.list-news{
		margin-bottom: 0;
		text-align: center;
		border-bottom: 1px solid #eeeeee;
		p{
		    &.news{ margin:0;
		    	a{
		    		display: inline-block;
				    text-decoration: none;
				    text-transform: none;
				    font-family: "Avantgarde", Arial;
				    color: #000;
				    font-size: 18px;
				    padding: 4px;
		    	}
		    }
		}
	}
	.titledanhmucsp{
		color: #004ea4;
		text-align: center;
		font-weight: 600;
		font-size: 16px;
		&.title-danhmuc{
			text-align: left;
			padding-left:14px;
			margin-bottom: 0;
			&.title-danhmuc-sub{
				font-size: 12px;
			    color: #000;
			    padding-left: 10px;
			    border-top: 1px solid #eee;
			    border-bottom: 1px solid #eee;

			    background-color: #f6f6f6;
			    -moz-box-shadow: 0 0 1px 0 #E0DCDC;
			    -webkit-box-shadow: 0 0 1px 0 #E0DCDC;
			    box-shadow: 0 0 1px 0 #E0DCDC;
			}
			.iconmobile-title-danhmuc-sub{
				background-position: -797px -48px;
    			width: 12px;
			}
			&.title-danhmuc-sub-title{
				padding-left:12px;
				background: url(../images/bg-cate-bottom.png) repeat-x;
			    min-height: 40px;
			    height: 42px;
			    border: none;
			    padding-top:10px;
			    div{
			    	float: right;
			    	a{
			    		color: #000;
			    		font-size: 13px;
			    	}
			    	.tieuchi{
			    		padding-right: 30px;
			    		padding-left: 30px;
			    		margin-right: 12px;
			    		&.active{
		    			    background-color: #fff;
						    height: 32px;
						    display: inline-block;
						    border: 1px solid #cdcdcd;
						    border-bottom: none;						    
						    padding: 7px 20px 0px 19px;
			    		}
			    	}
			    	.sosanh{
			    		padding-right: 40px;
			    		&.active{
		    			    background-color: #fff;
						    height: 32px;
						    display: inline-block;
						    border: 1px solid #cdcdcd;
						    border-bottom: none;						    
						    padding: 7px 20px 0px 19px;
			    		}
			    	}
			    }
			    
			}
		}
	}
	.list{
		&.list-inset{
			    background-color: #f6f6f6;
		    -moz-box-shadow: 2px 2px 25px 2px #E0DCDC;
		    -webkit-box-shadow: 2px 2px 25px 2px #E0DCDC;
		    box-shadow: 2px 2px 25px 2px #E0DCDC;
		}
		.item-input{
			border-color: #cfcfcf;
			border-width: 1px;
			padding: 0px 0 0px 16px;
			input{
				height: 28px;
			}
		}
		.iconmobile-search{
		    position: absolute;
		    top: 0;
		    right: 0;
		    z-index: 122;
		    background-position: -573px -43px;
		    width: 35px;
		    height: 36px;
		}
	}
	

	.not_position{
		margin-top: 20px;
		.tabs-positive{
			.tabs{
				height: 43px;
				border-color: #000;
				.tab-item{
					text-align: center;
					.tab-title{
						text-transform: uppercase;
					}
				}
				.tab-item-active{
					border-bottom: 3px solid #ff6c00;
					margin-top: 3px;
					.tab-title{
						text-transform: uppercase;
						color: #ff6c00!important;
					}
				}
			}
			.tab-content{
				.button-stable{
					color: #4d4d4f;
					font-weight: 400;
					text-decoration:line-through;
					font-size: 12px;
				}
				.button-assertive{
					color: #ff492b;
					font-size: 12px;
				}
			}
			
		}
	}

	.header_bar{
		&.header_bar_dt{

		}
		&.header_bar_dl{
			border-bottom-color: #3089e1;
		}
		&.header_bar_giadung{
			border-bottom-color: #34b905;	
		}
		&.header_bar_mobile{
			border-bottom-color: #ff8a0d;
		}
		&.header_bar_vt{
			border-bottom-color: #4b4b4b;
		}
		&.header_bar_vth{
			border-bottom-color: #fc6385;
		}
	}
	.footer{
		.list-inset{
			margin: 20px 10px !important;
		}
		.list{
			margin-bottom: 0;
			.item-avatar{
				    background: url(../images/bg-cate-bottom.png) repeat-x;
				    min-height: 40px;
				    height: 42px;
				    border:none;
				i{
					position: absolute;
				    top: 5px;
				    left: 16px;
				    max-width: 40px;
				    max-height: 40px;
				    width: 100%;
				    &.iconmobile-dt{
				    	background-position: -332px 2px;
				    }
				    &.iconmobile-dl{
				    	background-position: -400px 2px;
				    	height: 33px;
				    }
				    &.iconmobile-gd{
				    	background-position: -521px 2px;
				    	height: 33px;
				    }
				    &.iconmobile-dd{
				    	background-position: -461px 2px;
				    	height: 33px;
				    }
				    &.iconmobile-vt{
				    	background-position: -646px 2px;
				    	height: 33px;
				    }
				    &.iconmobile-vth{
				    	background-position: -580px 2px;
    					height: 33px;
				    }
				    &.iconmobile-nt{
				    	background-position: -741px 2px;
    					height: 33px;
				    }
				    &.iconmobile-mevabe{
				    	background-position: -692px 2px;
    					height: 33px;
				    }
				    &.iconmobile-dc{
				    	background-position: -792px 2px;
    					height: 33px;
				    }
				    &.iconmobile-trangtri{
				    	background-position: -847px 2px;
    					height: 33px;
				    }
				    &.iconmobile-phukien{
				    	background-position: -961px 2px;
    					height: 33px;
				    }
				    &.iconmobile-sacdep{
				    	background-position: -905px 2px;
    					height: 33px;
				    }
				}
				h2{
					padding:7px 0;
					margin: -12px 0;
					font-family: "Avantgarde", Arial;
					color: #000;
				}
				span{
					position: absolute;
				    top: 2px;
				    right: 5px;
				    max-width: 40px;
				    max-height: 40px;
				    width: 100%;
				    &.iconmobile-mt{
				    	background-position: -742px -38px;
				    }
				}
			}
			.list{
				clear: both;
				width: 100%;
				display: inline-block;
				margin-bottom: 10px;
				.list_cate{
					width: 100%;
					padding:10px 0;
					li{
						float: left;
						width: 50%;
						border-right:1px solid #cdcdcd; 
						overflow: hidden;
						padding-left: 18px;
						padding-top: 3px;
    					padding-bottom: 3px;
    					a{
    						font-family: "Avantgarde", Arial;
    						color: #000;
    						&.active{
    							color: #ff6c00;
    						}    						
    					}
    					a:hover{
    						color: #ff6c00;
    					}
					}
				}				
			}
			&.bg_backtotop{
				text-align: center;
				background:url(../images/bg-backtotop.png) repeat-x;
				height: 72px;
				min-height: 40px;
				a{
					text-transform: uppercase;
					font-family: "Avantgarde", Arial;
					color: #000;
					.iconmobile-backtotop{
				       background-position: -684px -44px;
				       margin-top: 15px;						    
					}
				}				
			}						
			.menu-list{ display:none; float:left;}
		}
		.list-chinhanh{
			div{
			    min-height: 1.1em;
			    text-align: center;
			    display: inline-block;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			    outline: 0 !important;			   
			    width: 100%;			  
				div{
					&.bg_facebook{
						background:url(../images/facebook.png) no-repeat;
						width: 320px;
						height: 85px;
						position: relative;
						top: -1px;
						margin-top: 20px;
					}
					&.chinhanh{
						background:url(../images/27chi-nhanh.png) no-repeat;
						width: 320px;
						height: 85px;
						position: relative;
						top: -1px;
						border-top: 1px solid #ddd;
					}
					&.fb-like{
						border:none;
					}
				}
				
				&.a{
					border-top:1px solid #ddd;
					.row{
						ul{
							padding: 5px;
							li{
								display: inline-block;
								padding:0 15px;
								a{
									font-family: Arial;
									font-size: 12px;
									color: #004b91;
									font-weight: 600;
								}
							}
						}
						p{
							font-size: 14px;
							font-family: Arial;
							color: #4d4d4f;
						}
					}
				}
			}
			
		}
	}

}
 
.content_news{
	.list{
		padding:0;
		margin-bottom: 0;
		.title{
			background-color:#eee;
			padding:10px;
			font-family: "Avantgarde", Arial;
			border-bottom: 1px solid #cdcdcd;
		}
		.list{
			.title_news,.tag-blue {
				text-decoration: none;
				font-size: 14px;
			}
			.news_form_date{
				font-size: 13px;
			}
			#news_content_view{
				.row{
					.col{
						.images_style{
						    width: 90%;
						    margin-top: 10px;
						    margin-left: 5%;
						}
						.detail_style_tg{
							width: 94%;
						    display: inline-block;
						    text-align: center;
						    margin-top: 10px;
						}
					}
				}
				.padding{
					.images_style{
						width: 90%;
					    margin-top: 10px;
					    margin-left: 5%;
					}
					ul{
						padding:5px;
						li{
							display: inline-block;
							width: 49%;
							a{
								color: #4e5052;
								&.active{
									color: #ff6c00;
								}
							}
						}
					}
					
				}
				.tag-blue{
						color: #1163ac;
						font-size: 17px;
					}
				.not_position{
					
					.padding{
						.row{
							.icon-local-big{
								width: 51px;
							    height: 51px;
							    background-position: -20px -54px;
							    background-image: url("../images/icon-sprite.png");
							    background-repeat: no-repeat;
							    display: inline-block;
							    vertical-align: middle;
							}
							.icon-flag-big {
							    width: 51px;
							    height: 51px;
							    background-position: -130px -54px;
							    background-image: url("../images/icon-sprite.png");
							    background-repeat: no-repeat;
							    display: inline-block;
							    vertical-align: middle;
							}
							.icon-clock-big {
							    width: 51px;
							    height: 51px;
							    background-position: -74px -55px;
							    background-image: url("../images/icon-sprite.png");
							    background-repeat: no-repeat;
							    display: inline-block;
							    vertical-align: middle;
							}
						}
					}
					
				}
			}
		}
		.view_all{
			color: #1163ac;
		    line-height: 30px;
		    text-align: right;
		    width: 93%;
		    display: inline-block;
		    font-weight: bold;
		    text-decoration: none;
		}
	}
}
@media (min-width: 60em){
	.bar-positive{
	    	
		.ui-title{
			padding: 0 0 .7em;
		    margin: 0 1em 0 3%;
		    text-align: left;
		    img{
		    	width: 275px;
    			height: 78px;
		    }
		}
		p{
			bottom: auto;
		    left: auto;
		    top: 50%;
		    right: 15%;
		    font-size: 1.2em;
		    margin-top: -.625em;
		    &.news{
		    	right: 28%;
		    	a{
		    		padding: 2px;
		    	}
		    }
		}
		.jqm-navmenu-link{display: none;}
	}
	.has-header{
		    top: 110px;
		.footer{
			.list-chinhanh{
				div{
					text-align: center;
					
				}
				
			}
		}
		.titledanhmucsp{
			&.title-danhmuc{
				text-align: center;
			}
		}
		.list-main-sub-product{
			.more-product{
				margin: 0px 37%;
			}
		}
	}
	
}