<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Trang chủ</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.css" />
    <link rel="stylesheet" href="js/raty-master/lib/jquery.raty.css">

    <link href="scss/style.css" rel="stylesheet">
    <link href="css/lib.css" rel="stylesheet">



    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <script src="js/jquery.js"></script>
	<script src="js/jquery.dotdotdot.js"></script>
	<script src="js/raty-master/lib/jquery.raty.js"></script>

    <script src="js/global.js"></script>
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development)
    <script src="cordova.js"></script> -->

    <!-- your app's js -->
    <script src="js/home/app.js"></script>
    <script src="js/home/controllers.js"></script>
    <script src="js/home/services.js"></script>
    <script src="js/home/default.js"></script>

  </head>
  <body ng-app="starter">
    <div ng-controller='mainController'>

      <ion-side-menus>	

        <ion-side-menu-content>
			<div class="bg_popup"></div>
            <ion-header-bar align-title="left" class="bar-positive">			

              	<h2 class="ui-title"><a href="/"><img src="img/logo.png" alt="Điện máy chợ lớn" title="Điện máy chợ lớn"></a></h2>			    

			    <a href="#" class="jqm-navmenu-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left" ng-click="toggleLeft()">Menu</a>

			    <a class="ui-btn ui-btn-right iconmobile-user notext" href="#" title="account" ng-click='show()'>Account</a>


			    <a class="ui-btn ui-btn-right iconmobile-cart notext" href="#" title="cart">Cart</a>
			    

            </ion-header-bar>



            <ion-content>
            	<div class="list list-news">
            		<p class="news">
				        <a href="#" title="Tin Khuyến Mãi">Tin khuyến mãi</a>
				        <a href="#" title="Mua trả góp">Mua trả góp</a>
				        <a href="#" title="Thẻ thành viên">Thẻ thành viên</a>
				    </p>            		
            	</div>
              	<div class="list list-inset">
				  <label class="item item-input">				    
				    <input type="text" placeholder="Nhập từ khóa tìm kiếm...">
				    
				  </label>
				  <div class="iconmobile-search"></div>
				</div>
				


				<div class="content_news">
					<div class="list">
						<div class="title">Chi tiết Mua trả góp ACS</div>

						<div class="list">
							<div id="news_content_view">							
								 
								<div class="row">
									<div class="col">
									  <a href="">
									  	 		<img class="images_style" src="http://m.dienmaycholon.vn/img/picture/pay/dienmay_1.png">
									  </a>
									    <a href="" class="detail_style_tg">
									  	 		<img src="http://m.dienmaycholon.vn/img/default/img/xemchitiet.png">
									  </a>
									</div>
									<div class="col">
									  <a href="">
										 		<img class="images_style" src="http://m.dienmaycholon.vn/img/picture/pay/dienmay_2.png">
										 </a>
										  <a href="" class="detail_style_tg">
									  	 		<img src="http://m.dienmaycholon.vn/img/default/img/xemchitiet.png">
									  </a>
									</div>
								</div>

								


								<div class="not_position">

									<div id="tag1" class="card padding">
										<h4 class="tag-blue">Địa chỉ - Tổng quan về ACS</h4>
										<p>+ Công ty TNHH TM ACS VN ( gọi tắt là ACS ) là công ty có 100% vốn
											từ tập đoàn AEON Group - Nhật Bản, AEON có nhiều chi nhánh khắp nơi ở
											châu Á như Nhật, Trung Quốc, Hồng Kong, Đài Loan, Thái Lan, Indo,
											Lào, Campuchia, Malay, Việt Nam.</p>
										<p>+ ACS Việt Nam chính thức hoạt động từ năm 2008, là công ty thương
											mại bán hàng trả chậm. Công ty hỗ trợ khách hàng mua hàng trả chậm
											với mức phí trả chậm ưu đãi hàng tháng với mức phí trả chậm là 2.35%
											tháng</p>
										<div>
											<div class="row">
												<div class="col-20">
													<span class="icon-local-big"></span>
												</div>
												<div class="col">
													<b>Địa chỉ:</b> Tầng 4-5 Tòa nhà Vimedimex, Số 246 Cống Quỳnh, P.
													Phạm Ngũ Lão, Q.1, TP. HCM<br> <b>Điện thoại:</b> 08 5445 3800 /
													Fax: 08 5445 3801<br> <b>Website:</b>
													http://www.aeoncredit.co.jp/aeon/eng/corp/gr<br>
												</div>
											</div>
											<br>
											<div class="row">
												<div class="col-20">
													<span class="icon-flag-big"></span>
												</div>
												<div class="col">
													<b>Chi nhánh có quầy trả góp:</b><br> - Quận 2, 3, 5, 12, Tân Phú
												</div>
											</div>
											<br>
											<div class="row">
												<div class="col-20">
													<span class="icon-clock-big"></span>
												</div>
												<div class="col">
													<b>Thời gian hoạt động:</b><br> - Từ 9h00 - 18h00 từ thứ 2 đến Chủ
													Nhật
												</div>
											</div>
										</div>
									</div>


									<div id="tag2" class="card padding">
									<h4 class="tag-blue">Thủ tục trả góp</h4>
										<div class="load-tab-role" style="">
											<span class="icon-arrowdown-tab"></span>
											<div>
												<strong>Độ tuổi</strong>
											</div>
											<div>- 21 - 60 &nbsp;đối với người đi làm và sinh viên từ 18 tuổi trở
												lên.</div>
											<div>&nbsp;</div>
											<div>
												<strong>Các chứng từ cần cung cấp</strong>
											</div>
											<div>- CMND + Hộ khẩu/KT3 + Hóa đơn điện/nước/TH cáp/internet tháng
												gần nhất + Số điện thoại bàn (số điện thoại bàn tại nhà/ số điện
												thoại bàn công ty/ thuê bao di động trả sau/ điện thoài bàn hàng
												xóm)</div>
											<div>&nbsp;</div>
											<div>
												<strong>Sinh viên khi tham gia cần cung cấp</strong>
											</div>
											<div>- CMND người đăng ký và người bảo lãnh + Thẻ SV + Hộ khẩu/KT3 +
												Biên lai học phí học kỳ gần nhất + số điện thoại của người bảo
												lãnh).</div>
											<div>- Tất cả các chứng từ chỉ cần bản copy, không cần công chứng,
												khi làm thủ tục mang theo bản gốc để đối chiếu.</div>
											<div>- Vui lòng liên hệ trực tiếp quầy tư vấn chương trình Mua Trả
												Chậm Tại Chợ Lớn &nbsp;hoặc đường dây nóng (08) 5445 3800 để được tư
												vấn.&nbsp;</div>
											<div>&nbsp;</div>
											<div>
												<strong>Chứng minh thu nhập</strong>
											</div>
											<div>- Đối với số tiền hỗ trợ từ 10 triệu trở lên đối với các mặt
												hàng điện thoại di động và từ 15 triệu đồng trở lên đối với các sản
												phẩm khác Khách hàng phải chứng minh thu nhập.&nbsp;</div>
											<div>&nbsp;</div>
											<div>
												<strong>Các sản phẩm áp dụng</strong>
											</div>
											<div>- Các mặt hàng điện máy gia dụng, điện thoại di động, công nghệ
												thông tin, nội thất, nệm, nhạc cụ, xe máy, xe đạp, thời trang, quần
												áo thể thao, trang sức, đồng hồ đeo tay, máy khâu, máy phát điện…</div>
											<div>&nbsp;</div>
											<div>
												<strong>Kỳ hạn thanh toán</strong>
											</div>
											<div>Kỳ hạn thanh toán từ &nbsp;6, 9, 12, 15, 18, 24 tháng</div>
											<div>Đối với mặt hàng điện thoại di động chỉ áp dụng &nbsp;kỳ hạn là
												6, 9, 12, 15,18</div>
											<div>&nbsp;</div>
											<div>
												<strong>Trả trước</strong>
											</div>
											<div>- Khách hàng trả trước tối thiểu là 10% giá bán sản phẩm đối với
												các mặt hàng điện thoại di động.</div>
											<div>- Đối với các sản phẩm khách, mức trả trước không yêu cầu nhưng
												tùy thuộc vào hạn mức của Khách hàng</div>
											<div>&nbsp;</div>
											<div>
												<strong>Khu vực hỗ trợ</strong>
											</div>
											<div>
												<span style="color: #ff0000;"><strong>+ Miền Bắc</strong></span>
											</div>
											<div style="margin-left: 40px;">- Hà Nội; Hải Dương; Bắc Ninh; Thái
												Nguyên; Thái Bình; Ninh Bình; Nam Định; Hưng Yên; Hà Nam ; Vĩnh
												Phúc; Phú Thọ</div>
											<div style="margin-left: 40px;">- Hải Phòng (trừ huyện đảo Bạch Long
												Vỹ)</div>
											<div style="margin-left: 40px;">- Quảng Ninh (trừ các huyện: Bình
												Liêu, Cô Tô, Đầm Hà, Hải Hà, Tiên Yên và cán bộ công nhân viên Nhà
												Nước thuộc tỉnh Quảng Ninh)</div>
											<div style="margin-left: 40px;">- Bắc Giang (trừ huyện Sơn Động)</div>
											<div style="margin-left: 40px;">- Hòa Bình (trừ huyện đảo Lạc Thủy và
												Yên Thủy)</div>
											<div style="margin-left: 40px;">- Thanh Hóa (TP Thanh Hóa, TX Bỉm
												Sơn, TX Sầm Sơn, Huyện Đông Sơn, Huyện Hà Trung, Huyện Hậu Lộc,
												Huyện Hoằng Hóa, Huyện Nga Sơn, Huyện Nông Cống, Huyện Thiệu Hóa,
												Huyện Thọ Xuân, Huyện Tĩnh Gia, Huyện Triệu Sơn, Huyện Vĩnh Lộc,
												Huyện Yên Định và cán bộ công nhân viên Nhà Nước thuộc tỉnh Thanh
												Hóa)</div>
											<div style="margin-left: 40px;">- Nghệ An (trừ các huyện: Con Cuông,
												Quỳ Châu, Kỳ Sơn, Quế Phong, Tường Dương và cán bộ công nhân viên
												Nhà Nước thuộc tỉnh Nghệ An)</div>
											<div style="margin-left: 40px;">- Lạng Sơn (trừ huyện Văn Quang)</div>
											<div style="margin-left: 40px;">- Tuyên Quang (trừ huyện Na Hang)</div>
											<div style="margin-left: 40px;">- Hà Tĩnh (trừ huyện Hương Sơn và
												huyện Kỳ Anh)</div>
											<div style="margin-left: 40px;">- Sơn La (TP. Sơn La, các huyện:
												Mường La, Thuận Châu và cán bộ công nhân viên Nhà Nước thuộc tỉnh
												Sơn La)</div>
											<div style="margin-left: 40px;">- Yên Bái (trừ huyện Mù Cang Chải và
												Trạm Tấu)</div>
											<div style="margin-left: 40px;">- Hà Giang (TX Hà Giang và huyện Bắc
												Mê và cán bộ công nhân viên Nhà Nước thuộc tỉnh Hà Giang)</div>
											<div style="margin-left: 40px;">- Cao Bằng (TX Cao Bằng và cán bộ
												công nhân viên Nhà Nước thuộc tỉnh Cao Bằng)</div>
											<div style="margin-left: 40px;">- Bắc Cạn (TX Bắc Cạn, các huyện:
												Bạch Thông, Chợ Đồn, Chợ Mới và cán bộ công nhân viên Nhà Nước thuộc
												tỉnh Bắc Cạn)</div>
											<div style="margin-left: 40px;">- Lào Cai (TP. Lào Cai và huyện Sapa
												và cán bộ công nhân viên Nhà Nước thuộc tỉnh Lào Cai)</div>
											<div style="margin-left: 40px;">- Điện Biên (TP. Điện Biên Phủ, TX
												Mường Lay và cán bộ công nhân viên Nhà Nước thuộc tỉnh Điện Biên)</div>
											<div style="margin-left: 40px;">- Lai Châu (TX Lai Châu, huyện Phong
												Thổ và cán bộ công nhân viên Nhà Nước thuộc tỉnh Lai Châu)</div>
											<div>&nbsp;</div>
											<div>
												<span style="color: #ff0000;"><strong>+ Miền Trung</strong></span>
											</div>
											<div>&nbsp;</div>
											<div style="margin-left: 40px;">- Quảng Bình; Quảng Trị</div>
											<div style="margin-left: 40px;">- Thừa Thiên Huế ( TP. Huế, huyện
												Quảng Điền, huyện Phú Lộc, huyện Hương Thủy, huyện Hương Trà, huyện
												Phong Điền, huyện Phú Vang)</div>
											<div style="margin-left: 40px;">- Quảng Nam (TP. Hội An, TP. Tam Kỳ,
												huyện Điện Bàn, huyện Thăng Bình, huyện Phú Ninh, huyện Núi Thành,
												huyện Đại Lộc, huyện Duy Xuyên, huyện Quế Sơn)</div>
											<div style="margin-left: 40px;">- TP. Đà Nẵng (trừ Hoàng Sa)</div>
											<div style="margin-left: 40px;">- Quảng Ngãi (TP. Quảng Ngãi, huyện
												Bình Sơn, huyện Đức Phổ, huyện Mộ Đức, huyện Nghĩa Hành, huyện Sơn
												Tịnh, huyện Tư Nghĩa)</div>
											<div style="margin-left: 40px;">- Gia Lai (TP. Pleiku, thị xã An Khê,
												huyện Chư Sê)</div>
											<div style="margin-left: 40px;">- Bình Định (TP. Quy Nhơn, huyện Tuy
												Phước, thị xã An Nhơn, huyện Phù Cát, huyện Hoài Nhơn, huyện Phù Mỹ)</div>
											<div style="margin-left: 40px;">- Kon Tum (TP. Kon Tum, huyện Ngọc
												Hồi)</div>
											<div>&nbsp;</div>
											<div>
												<span style="color: #ff0000;"><strong>+ Miền Đông Nam Bộ</strong></span>
											</div>
											<div>&nbsp;</div>
											<div style="margin-left: 40px;">- TP. Hồ Chí Minh; Bà Rịa - Vũng Tàu
												; Đồng Nai; Bình Dương; Bình Phước; Tây Ninh; Ninh Thuận; Khánh Hòa;
												Phú Yên</div>
											<div style="margin-left: 40px;">- Bình Thuận (huyện Hàm Tân, huyện
												Hàm Thuận Nam, huyện Hàm Thuận Bắc, thị xã Lagi, TP. Phan Thiết,
												huyện Tuy Phong, huyện Bắc Bình, huyện Đức Linh, huyện Tánh Linh)</div>
											<div style="margin-left: 40px;">- Lâm Đồng (TP.Đà Lạt, TP. Bảo Lộc,
												huyện Di Linh, huyện Đức Trọng)</div>
											<div style="margin-left: 40px;">- Đắk Lắk (TP. Buôn Mê Thuột, thị xã
												Buôn Hồ, huyện Krông Na, huyện Krông Năng, huyện Krông Păk, huyện Cư
												M’gar, huyện M’Drăk, huyện Ea Súp, huyện Ea Kar)</div>
											<div style="margin-left: 40px;">- Đắk Nông (thị xã Gia Nghĩa, huyện
												Đắk Mil, huyện Đắk R’lấp, huyện Tuy Đức, huyện Đắk Song, huyện Cư
												Jút, huyện Krông Nô)</div>
											<div>&nbsp;</div>
											<div>
												<span style="color: #ff0000;"><strong>+ Miền Tây Nam Bộ</strong></span>
											</div>
											<div>&nbsp;</div>
											<div style="margin-left: 40px;">- TP. Cần Thơ; Long An; Tiền Giang;
												Bến Tre; Vĩnh Long; Trà Vinh; Đồng Tháp; Hậu Giang</div>
											<div style="margin-left: 40px;">- An Giang (TP. Long Xuyên, huyện Chợ
												Mới, huyện Châu Thành, huyện Châu Phú, huyện Thoại Sơn, Châu Đốc,
												Tân Châu và cán bộ công nhân viên Nhà Nước thuộc tỉnh An Giang)</div>
											<div style="margin-left: 40px;">- Kiên Giang (TP. Rạch Giá, thị xã Hà
												Tiên, huyện Châu Thành, huyện Hòn Đất, huyện Tân Hiệp, huyện U Minh
												Thượng, huyện Giồng Riềng, huyện Gò Quao, huyện Kiên Lương)</div>
											<div style="margin-left: 40px;">- Cà Mau (TP. Cà Mau, huyện U Minh,
												huyện Đầm Dơi, huyện Thới Bình, huyện Trần Văn Thời, huyện Cái Nước,
												huyện Năm Căn, huyện Phú Tân)</div>
											<div style="margin-left: 40px;">- Sóc Trăng (TP. Sóc Trăng, huyện Mỹ
												Xuyên, thị trấn Phú Lộc, huyện Châu Thành, huyện Kế Sách, huyện Long
												Phú, huyện Mỹ Tú, huyện Thạnh Trị, huyện Ngã - Năm, huyện Vĩnh Châu,
												huyện Trần Đề, huyện Cù Lao Dung)</div>
											<div style="margin-left: 40px;">- Bạc Liêu (TP. Bạc Liêu, huyện Giá
												Rai, thị trấn Hộ Phòng, huyện Phước Long, huyện Hồng Dân, huyện Vĩnh
												Lợi, huyện Đông Hải, huyện Hòa Bình)</div>
											<div>&nbsp;</div>
										</div>
									</div>
								</div>


								<div id="tag3" class="card padding">
									<h4 class="tag-blue"> Quy trình đăng ký </h4>
									<div class="load-tab-res" style="">
										<span class="icon-arrowdown-tab"></span>
										<p>
											<strong>Bước 1:</strong> Khách hàng chuẩn bị đầy đủ hồ sơ
										</p>
										<p>&nbsp;</p>
										<p>
											<strong>Bước 2: </strong>ACS thẩm định nhanh hồ sơ khách hàng (trễ
											nhất trong vòng 24h)
										</p>
										<p>&nbsp;</p>
										<p>
											<strong>Bước 3: </strong>Thông báo kết quả thẩm định:
										</p>
										<p style="margin-left: 40px;">- Nếu hồ sơ được duyệt: Nhân viên ACS
											thông báo cho khách hàng biết và yêu cầu tới nơi đăng ký để ký hợp
											đồng và đóng tiền.</p>
										<p style="margin-left: 40px;">- Nếu hồ sơ không được duyệt: Hệ thống
											ACS tự động thông báo cho khách hàng bằng tin nhắn qua số di động đã
											đăng ký.</p>
										<p>&nbsp;</p>
										<p>
											<strong>Bước 4: </strong>Thanh toán tiền trả chậm hàng tháng
										</p>
									</div>

								</div>




							</div>
						</div>



						

					</div>



				</div>



	            <!-- Footer -->
				<div class="footer">
					<div class="list">
					    <a class="item item-avatar" href="#">
					      <i class="iconmobile-dt"></i>
					      <h2>Điện tử</h2>
					      <span class="iconmobile-mt"></span>		      
					    </a>
					    <div class="list menu-list">
					    	<ul class="list_cate">
					    		<li><a class="active" href="">Nồi cơm điện</a></li>
					    		<li><a href="">Máy làm sữa đậu nành</a></li>
					    		<li><a href="">Lò vi sóng - Lò nướng</a></li>
					    		<li><a href="">Máy pha cafe</a></li>
					    		<li><a href="">Bếp ga - Bếp Ấm</a></li>
					    		<li><a href="">Nồi cơm điện</a></li>
					    		<li><a href="">Nồi cơm điện</a></li>
					    		<li><a href="">Nồi cơm điện</a></li>
					    		<li><a href="">Máy làm sữa đậu nành</a></li>
					    		<li><a href="">Lò vi sóng - Lò nướng</a></li>
					    		<li><a href="">Máy pha cafe</a></li>
					    		<li><a href="">Bếp ga - Bếp Ấm</a></li>
					    		<li><a href="">Nồi cơm điện</a></li>
					    		<li><a href="">Nồi cơm điện</a></li>	
					    	</ul>
					    </div>
					    <a class="item item-avatar" href="#">
					      <i class="iconmobile-dl"></i>
					      <h2>Điện lạnh</h2>
					      <span class="iconmobile-mt"></span>	
					    </a>
					    <div class="list menu-list">
					    	<ul class="list_cate">
					    		<li><a class="active" href="">Nồi cơm điện</a></li>
					    		<li><a href="">Máy làm sữa đậu nành</a></li>
					    		<li><a href="">Lò vi sóng - Lò nướng</a></li>
					    		<li><a href="">Máy pha cafe</a></li>
					    		<li><a href="">Bếp ga - Bếp Ấm</a></li>
					    		<li><a href="">Nồi cơm điện</a></li>
					    		<li><a href="">Nồi cơm điện</a></li>
					    		<li><a href="">Nồi cơm điện</a></li>
					    		<li><a href="">Máy làm sữa đậu nành</a></li>
					    		<li><a href="">Lò vi sóng - Lò nướng</a></li>
					    		<li><a href="">Máy pha cafe</a></li>
					    		<li><a href="">Bếp ga - Bếp Ấm</a></li>
					    		<li><a href="">Nồi cơm điện</a></li>
					    		<li><a href="">Nồi cơm điện</a></li>	
					    	</ul>
					    </div>
					    <a class="item item-avatar" href="#">
					      <i class="iconmobile-gd"></i>
					      <h2>Gia dụng</h2>
					      <span class="iconmobile-mt"></span>	
					    </a>
					    <div class="list menu-list">
					    	<ul class="list_cate">
					    		<li><a class="active" href="">Nồi cơm điện</a></li>
					    		<li><a href="">Máy làm sữa đậu nành</a></li>
					    		<li><a href="">Lò vi sóng - Lò nướng</a></li>
					    		<li><a href="">Máy pha cafe</a></li>
					    		<li><a href="">Bếp ga - Bếp Ấm</a></li>
					    		<li><a href="">Nồi cơm điện</a></li>
					    		<li><a href="">Nồi cơm điện</a></li>
					    		<li><a href="">Nồi cơm điện</a></li>
					    		<li><a href="">Máy làm sữa đậu nành</a></li>
					    		<li><a href="">Lò vi sóng - Lò nướng</a></li>
					    		<li><a href="">Máy pha cafe</a></li>
					    		<li><a href="">Bếp ga - Bếp Ấm</a></li>
					    		<li><a href="">Nồi cơm điện</a></li>
					    		<li><a href="">Nồi cơm điện</a></li>	
					    	</ul>
					    </div>
					    <a class="item item-avatar" href="#">
					      <i class="iconmobile-dd"></i>
					      <h2>Di động - Tablet</h2>
					      <span class="iconmobile-mt"></span>	
					    </a>
					    <div class="list menu-list">
					    	<ul class="list_cate">
					    		<li><a class="active" href="">Nồi cơm điện</a></li>
					    		<li><a href="">Máy làm sữa đậu nành</a></li>
					    		<li><a href="">Lò vi sóng - Lò nướng</a></li>
					    			
					    	</ul>
					    </div>
					    <a class="item item-avatar" href="#">
					      <i class="iconmobile-vt"></i>
					      <h2>Vi tính</h2>
					      <span class="iconmobile-mt"></span>
					    </a>
					    <div class="list menu-list">
					    	<ul class="list_cate">
					    		<li><a class="active" href="">Nồi cơm điện</a></li>
					    		<li><a href="">Máy làm sữa đậu nành</a></li>
					    		<li><a href="">Lò vi sóng - Lò nướng</a></li>
					    			
					    	</ul>
					    </div>
					    <a class="item item-avatar" href="#">
					      <i class="iconmobile-vth"></i>
					      <h2>Viễn thông</h2>
					      <span class="iconmobile-mt"></span>	
					    </a>
					    <div class="list menu-list">
					    	<ul class="list_cate">
					    		<li><a class="active" href="">Nồi cơm điện</a></li>
					    		<li><a href="">Máy làm sữa đậu nành</a></li>
					    		<li><a href="">Lò vi sóng - Lò nướng</a></li>
					    			
					    	</ul>
					    </div>
					    <a class="item item-avatar" href="#">
					      <i class="iconmobile-nt"></i>
					      <h2>Nội thất</h2>
					      <span class="iconmobile-mt"></span>	
					    </a>
					    <div class="list menu-list">
					    	<ul class="list_cate">
					    		<li><a class="active" href="">Nồi cơm điện</a></li>
					    		<li><a href="">Máy làm sữa đậu nành</a></li>
					    		<li><a href="">Lò vi sóng - Lò nướng</a></li>
					    			
					    	</ul>
					    </div>
					    <a class="item item-avatar" href="#">
					      <i class="iconmobile-mevabe"></i>
					      <h2>Mẹ và bé</h2>
					      <span class="iconmobile-mt"></span>	
					    </a>
					    <div class="list menu-list">
					    	<ul class="list_cate">
					    		<li><a class="active" href="">Nồi cơm điện</a></li>
					    		<li><a href="">Máy làm sữa đậu nành</a></li>
					    		<li><a href="">Lò vi sóng - Lò nướng</a></li>
					    			
					    	</ul>
					    </div>
					    <a class="item item-avatar" href="#">
					      <i class="iconmobile-dc"></i>
					      <h2>Điện cơ</h2>
					      <span class="iconmobile-mt"></span>	
					    </a>
					    <a class="item item-avatar" href="#">
					      <i class="iconmobile-trangtri"></i>
					      <h2>Trang trí</h2>
					      <span class="iconmobile-mt"></span>	
					    </a>
					    <a class="item item-avatar" href="#">
					      <i class="iconmobile-phukien"></i>
					      <h2>Thời trang và phụ kiện</h2>
					      <span class="iconmobile-mt"></span>	
					    </a>
					    <a class="item item-avatar" href="#">
					      <i class="iconmobile-sacdep"></i>
					      <h2>Sức khỏe và sắc đẹp</h2>
					      <span class="iconmobile-mt"></span>	
					    </a>
					</div>
					<div class="list bg_backtotop">
						<a href=""><i class="iconmobile-backtotop"></i><br/> Lên đầu trang</a>					
					</div>
					<div class="list list-chinhanh">
						<div class='a'>
							<div class="chinhanh">
								
							</div>    					
	    				</div>
	    				<div class="a">
	    					<div class='bg_facebook'>
	    						<div class="fb-like" style="position: absolute;top: 60px;margin-left: 20px;"></div>
	    					</div>
	    				</div>
	    				<div class="a">
	    					<div class="row">
	    						<ul>
	    							<li><a href="#">Giới thiệu chung</a></li>
	    							<li><a href="#">Mua hàng online</a></li>
	    							<li><a href="#">Thẻ thành viên Chợ Lớn</a></li>
	    						</ul>
	    						<p>© 2001 - 2015, Công ty TNHH Cao Phong</p>
	    					</div>
	    				</div>
					</div>	
				</div>
		        <!-- End Footer -->   
        
        
            </ion-content>
		


        </ion-side-menu-content>
		<ion-side-menu side='left'>
			 <header class="bar bar-header" fade-header>
			  <h1 class="title"><a href="#"><img src="img/logo.png" alt="Điện máy chợ lớn" title="Điện máy chợ lớn"></a></h1>
			</header>
			<ion-content has-header="true">			   
		      <div class="list">
		      	<i class="iconmobile-cart"></i><strong>Giỏ hàng: </strong><span class="numcart">0 Đ</span>
		      </div>
			  <div class="list menu">
			  	<ul>
			  		<li><i class="iconmobile-menu-all"></i><a href="">Tất cả danh mục</a></li>
			  		<li><i class="iconmobile-check-order"></i><a href="">Kiểm tra đơn hàng</a></li>
			  		<li><i class="iconmobile-login"></i><a href="">Đăng ký - Đăng nhập</a><a href=""><i class="iconmobile-face"></i></a></li>
			  		<li><i class="iconmobile-desktop"></i><a href="">Chuyển sang phiên bản Desktop</a></li>
			  		
			  	</ul>
			  </div>
			  <div class="list list-lienhe">
			  	<i class="iconmobile-hotline"></i><span>(08) 3856 3388</span>
			  	<p>(Online từ 8h30 đến 21h00 từ Thứ 2 đến Chủ Nhật)</p>
			  </div>		   
			</ion-content>
		</ion-side-menu>


   </ion-side-menus>
  </div>


  <ion-footer-bar class="bar-footer">
      <a href="tel:08 3856 3388 ">
       <div class="iconmobile-bg_call"></div>
      </a>    
  </ion-footer-bar>

  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.4&appId=566700460081717";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>
