<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Trang chủ</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.css" />
    <link rel="stylesheet" href="js/raty-master/lib/jquery.raty.css">


    <link href="css/lib.css" rel="stylesheet">
    <link href="scss/style.css" rel="stylesheet">


    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <script src="js/jquery.js"></script>
	<script src="js/jquery.dotdotdot.js"></script>
	<script src="js/raty-master/lib/jquery.raty.js"></script>

    <script src="js/global.js"></script>
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development)
    <script src="cordova.js"></script> -->

    <!-- your app's js -->
    <script src="js/home/app.js"></script>
    <script src="js/home/controllers.js"></script>
    <script src="js/home/services.js"></script>
    <script src="js/home/default.js"></script>

  </head>
  <body ng-app="starter">
    <div ng-controller='mainController'>

      <ion-side-menus>	

        <ion-side-menu-content>
			<div class="bg_popup"></div>
            <ion-header-bar align-title="left" class="bar-positive">			

              	<h2 class="ui-title"><a href="/"><img src="img/logo.png" alt="Điện máy chợ lớn" title="Điện máy chợ lớn"></a></h2>

			    

			    <a href="#" class="jqm-navmenu-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left" ng-click="toggleLeft()">Menu</a>

			    <a class="ui-btn ui-btn-right iconmobile-user notext" href="#" title="account" ng-click='show()'>Account</a>


			    <a class="ui-btn ui-btn-right iconmobile-cart notext" href="#" title="cart">Cart</a>
			    

            </ion-header-bar>



            <ion-content>

			<div class="list titledanhmucsp">
				Danh mục sản phẩm
			</div>

            <!-- Footer -->
			<div class="footer">
				<div class="list">
				    <a class="item item-avatar" href="#">
				      <i class="iconmobile-dt"></i>
				      <h2>Điện tử</h2>
				      <span class="iconmobile-mt"></span>		      
				    </a>
				    <div class="list menu-list">
				    	<ul class="list_cate">
				    		<li><a class="active" href="">Nồi cơm điện</a></li>
				    		<li><a href="">Máy làm sữa đậu nành</a></li>
				    		<li><a href="">Lò vi sóng - Lò nướng</a></li>
				    		<li><a href="">Máy pha cafe</a></li>
				    		<li><a href="">Bếp ga - Bếp Ấm</a></li>
				    		<li><a href="">Nồi cơm điện</a></li>
				    		<li><a href="">Nồi cơm điện</a></li>
				    		<li><a href="">Nồi cơm điện</a></li>
				    		<li><a href="">Máy làm sữa đậu nành</a></li>
				    		<li><a href="">Lò vi sóng - Lò nướng</a></li>
				    		<li><a href="">Máy pha cafe</a></li>
				    		<li><a href="">Bếp ga - Bếp Ấm</a></li>
				    		<li><a href="">Nồi cơm điện</a></li>
				    		<li><a href="">Nồi cơm điện</a></li>	
				    	</ul>
				    </div>
				    <a class="item item-avatar" href="#">
				      <i class="iconmobile-dl"></i>
				      <h2>Điện lạnh</h2>
				      <span class="iconmobile-mt"></span>	
				    </a>
				    <div class="list menu-list">
				    	<ul class="list_cate">
				    		<li><a class="active" href="">Nồi cơm điện</a></li>
				    		<li><a href="">Máy làm sữa đậu nành</a></li>
				    		<li><a href="">Lò vi sóng - Lò nướng</a></li>
				    		<li><a href="">Máy pha cafe</a></li>
				    		<li><a href="">Bếp ga - Bếp Ấm</a></li>
				    		<li><a href="">Nồi cơm điện</a></li>
				    		<li><a href="">Nồi cơm điện</a></li>
				    		<li><a href="">Nồi cơm điện</a></li>
				    		<li><a href="">Máy làm sữa đậu nành</a></li>
				    		<li><a href="">Lò vi sóng - Lò nướng</a></li>
				    		<li><a href="">Máy pha cafe</a></li>
				    		<li><a href="">Bếp ga - Bếp Ấm</a></li>
				    		<li><a href="">Nồi cơm điện</a></li>
				    		<li><a href="">Nồi cơm điện</a></li>	
				    	</ul>
				    </div>
				    <a class="item item-avatar" href="#">
				      <i class="iconmobile-gd"></i>
				      <h2>Gia dụng</h2>
				      <span class="iconmobile-mt"></span>	
				    </a>
				    <div class="list menu-list">
				    	<ul class="list_cate">
				    		<li><a class="active" href="">Nồi cơm điện</a></li>
				    		<li><a href="">Máy làm sữa đậu nành</a></li>
				    		<li><a href="">Lò vi sóng - Lò nướng</a></li>
				    		<li><a href="">Máy pha cafe</a></li>
				    		<li><a href="">Bếp ga - Bếp Ấm</a></li>
				    		<li><a href="">Nồi cơm điện</a></li>
				    		<li><a href="">Nồi cơm điện</a></li>
				    		<li><a href="">Nồi cơm điện</a></li>
				    		<li><a href="">Máy làm sữa đậu nành</a></li>
				    		<li><a href="">Lò vi sóng - Lò nướng</a></li>
				    		<li><a href="">Máy pha cafe</a></li>
				    		<li><a href="">Bếp ga - Bếp Ấm</a></li>
				    		<li><a href="">Nồi cơm điện</a></li>
				    		<li><a href="">Nồi cơm điện</a></li>	
				    	</ul>
				    </div>
				    <a class="item item-avatar" href="#">
				      <i class="iconmobile-dd"></i>
				      <h2>Di động - Tablet</h2>
				      <span class="iconmobile-mt"></span>	
				    </a>
				    <div class="list menu-list">
				    	<ul class="list_cate">
				    		<li><a class="active" href="">Nồi cơm điện</a></li>
				    		<li><a href="">Máy làm sữa đậu nành</a></li>
				    		<li><a href="">Lò vi sóng - Lò nướng</a></li>
				    			
				    	</ul>
				    </div>
				    <a class="item item-avatar" href="#">
				      <i class="iconmobile-vt"></i>
				      <h2>Vi tính</h2>
				      <span class="iconmobile-mt"></span>
				    </a>
				    <div class="list menu-list">
				    	<ul class="list_cate">
				    		<li><a class="active" href="">Nồi cơm điện</a></li>
				    		<li><a href="">Máy làm sữa đậu nành</a></li>
				    		<li><a href="">Lò vi sóng - Lò nướng</a></li>
				    			
				    	</ul>
				    </div>
				    <a class="item item-avatar" href="#">
				      <i class="iconmobile-vth"></i>
				      <h2>Viễn thông</h2>
				      <span class="iconmobile-mt"></span>	
				    </a>
				    <div class="list menu-list">
				    	<ul class="list_cate">
				    		<li><a class="active" href="">Nồi cơm điện</a></li>
				    		<li><a href="">Máy làm sữa đậu nành</a></li>
				    		<li><a href="">Lò vi sóng - Lò nướng</a></li>
				    			
				    	</ul>
				    </div>
				    <a class="item item-avatar" href="#">
				      <i class="iconmobile-nt"></i>
				      <h2>Nội thất</h2>
				      <span class="iconmobile-mt"></span>	
				    </a>
				    <div class="list menu-list">
				    	<ul class="list_cate">
				    		<li><a class="active" href="">Nồi cơm điện</a></li>
				    		<li><a href="">Máy làm sữa đậu nành</a></li>
				    		<li><a href="">Lò vi sóng - Lò nướng</a></li>
				    			
				    	</ul>
				    </div>
				    <a class="item item-avatar" href="#">
				      <i class="iconmobile-mevabe"></i>
				      <h2>Mẹ và bé</h2>
				      <span class="iconmobile-mt"></span>	
				    </a>
				    <div class="list menu-list">
				    	<ul class="list_cate">
				    		<li><a class="active" href="">Nồi cơm điện</a></li>
				    		<li><a href="">Máy làm sữa đậu nành</a></li>
				    		<li><a href="">Lò vi sóng - Lò nướng</a></li>
				    			
				    	</ul>
				    </div>
				    <a class="item item-avatar" href="#">
				      <i class="iconmobile-dc"></i>
				      <h2>Điện cơ</h2>
				      <span class="iconmobile-mt"></span>	
				    </a>
				    <a class="item item-avatar" href="#">
				      <i class="iconmobile-trangtri"></i>
				      <h2>Trang trí</h2>
				      <span class="iconmobile-mt"></span>	
				    </a>
				    <a class="item item-avatar" href="#">
				      <i class="iconmobile-phukien"></i>
				      <h2>Thời trang và phụ kiện</h2>
				      <span class="iconmobile-mt"></span>	
				    </a>
				    <a class="item item-avatar" href="#">
				      <i class="iconmobile-sacdep"></i>
				      <h2>Sức khỏe và sắc đẹp</h2>
				      <span class="iconmobile-mt"></span>	
				    </a>
				</div>
				<div class="list bg_backtotop">
					<a href=""><i class="iconmobile-backtotop"></i><br/> Lên đầu trang</a>					
				</div>
				<div class="list list-chinhanh">
					<div class='a'>
						<div class="chinhanh">
							
						</div>    					
    				</div>
    				<div class="a">
    					<div class='bg_facebook'>
    						<div class="fb-like" style="position: absolute;top: 60px;margin-left: 20px;"></div>
    					</div>
    				</div>
    				<div class="a">
    					<div class="row">
    						<ul>
    							<li><a href="#">Giới thiệu chung</a></li>
    							<li><a href="#">Mua hàng online</a></li>
    							<li><a href="#">Thẻ thành viên Chợ Lớn</a></li>
    						</ul>
    						<p>© 2001 - 2015, Công ty TNHH Cao Phong</p>
    					</div>
    				</div>
				</div>	
			</div>
	        <!-- End Footer -->   
        
        
            </ion-content>
		


        </ion-side-menu-content>
		<ion-side-menu side='left'>
			 <header class="bar bar-header" fade-header>
			  <h1 class="title"><a href="#"><img src="img/logo.png" alt="Điện máy chợ lớn" title="Điện máy chợ lớn"></a></h1>
			</header>
			<ion-content has-header="true">			   
		      <div class="list">
		      	<i class="iconmobile-cart"></i><strong>Giỏ hàng: </strong><span class="numcart">0 Đ</span>
		      </div>
			  <div class="list menu">
			  	<ul>
			  		<li><i class="iconmobile-menu-all"></i><a href="">Tất cả danh mục</a></li>
			  		<li><i class="iconmobile-check-order"></i><a href="">Kiểm tra đơn hàng</a></li>
			  		<li><i class="iconmobile-login"></i><a href="">Đăng ký - Đăng nhập</a><a href=""><i class="iconmobile-face"></i></a></li>
			  		<li><i class="iconmobile-desktop"></i><a href="">Chuyển sang phiên bản Desktop</a></li>
			  		
			  	</ul>
			  </div>
			  <div class="list list-lienhe">
			  	<i class="iconmobile-hotline"></i><span>(08) 3856 3388</span>
			  	<p>(Online từ 8h30 đến 21h00 từ Thứ 2 đến Chủ Nhật)</p>
			  </div>		   
			</ion-content>
		</ion-side-menu>


   </ion-side-menus>
  </div>


  <ion-footer-bar class="bar-footer">
      <a href="tel:08 3856 3388 ">
       <div class="iconmobile-bg_call"></div>
      </a>    
  </ion-footer-bar>

  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.4&appId=566700460081717";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>
