<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Chi tiết sản phẩm</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.css" />
    <link rel="stylesheet" href="http://dienmaycholon.vn/public/default/css/jquery-ui.css" />    
    <link rel="stylesheet" href="js/raty-master/lib/jquery.raty.css">


    <link href="css/lib.css" rel="stylesheet">
    <link href="scss/style.css" rel="stylesheet">


    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <script src="js/jquery.js"></script>
	<script src="js/jquery.dotdotdot.js"></script>
	<script src="js/raty-master/lib/jquery.raty.js"></script>

    <script  src="http://dienmaycholon.vn/public/default/js/jquery-ui.js"></script>


    <script src="js/global.js"></script>
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development)
    <script src="cordova.js"></script> -->

    <!-- your app's js -->
    <script src="js/home/app.js"></script>
    <script src="js/home/controllers.js"></script>
    <script src="js/home/services.js"></script>
    <script src="js/home/default.js"></script>

  </head>
  <body ng-app="starter">
    <div ng-controller='mainController'>

      <ion-side-menus>	

        <ion-side-menu-content>
			<div class="bg_popup"></div>
            <ion-header-bar align-title="left" class="bar-positive">			

              	<h2 class="ui-title"><a href="/"><img src="img/logo.png" alt="Điện máy chợ lớn" title="Điện máy chợ lớn"></a></h2>			    

			    <a href="#" class="jqm-navmenu-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left" ng-click="toggleLeft()">Menu</a>

			    <a class="ui-btn ui-btn-right iconmobile-user notext" href="#" title="account" ng-click='show()'>Account</a>


			    <a class="ui-btn ui-btn-right iconmobile-cart notext" href="#" title="cart">Cart</a>
			    

            </ion-header-bar>



            <ion-content>
            <div class="list list-news">
        		<p class="news">
			        <a href="#" title="Tin Khuyến Mãi">Tin khuyến mãi</a>
			        <a href="#" title="Mua trả góp">Mua trả góp</a>
			        <a href="#" title="Thẻ thành viên">Thẻ thành viên</a>
			    </p>            		
        	</div>
          	<div class="list list-inset">
			  <label class="item item-input">				    
			    <input type="text" placeholder="Nhập từ khóa tìm kiếm...">
			    
			  </label>
			  <div class="iconmobile-search"></div>
			</div>

			<div class="list content-product-detail">
				
				<div class="list step1">
					<p><span class='name_product'>Laptop Dell Inspiron 15''(3521) Dell Inspiron 15''</span></p>
					<p><span class='text'>Sản xuất bởi </span><span class='text name-seri padding-right-10'>Dell </span> | <span class="text padding-left-10"> Mã SAP: 123612</span></p>
					<p><span class='star'></span><span class="num-star">(33)</span></p>
					<div>
						<ion-slide-box on-slide-changed="slideHasChanged($index)">				
						  <ion-slide>
						    <div class="box slideshow_main">
						    	<img src='http://static.dienmaycholon.vn/product/product3422/product_3422_1.png'>
						    </div>
						  </ion-slide>
						  <ion-slide>
						    <div class="box slideshow_main">
						    	<img src='http://static.dienmaycholon.vn/product/product3422/product_3422_3.png'>
						    </div>
						  </ion-slide>							  
						</ion-slide-box>
					</div>
				</div>
				<div class="list step2">
					<table>
						<tr>
							<td class="text-right">Giá thị trường:</td>
							<td><span class="price-tt">10.490.000 Đ</span></td>
						</tr>
						<tr>
							<td class="text-right">Giá bán:</td>
							<td><span class="price-gb">9.490.000 Đ</span></td>
						</tr>
						<tr>
							<td></td>
							<td><span class="ship-free">+ Giao hàng <span>MIỄN PHÍ.</span> <a href="">Xem chi tiết</a></span></td>
						</tr>
						<tr>
							<td class="text-right">Tiết kiệm:</td>
							<td><span class="price-tk">1.000.000 Đ (5%)</span></td>
						</tr>
					</table>
				</div>

				
				<div class="list step3">
					<p><span class='text'>Còn hàng</span></p>
					<p><span>Bán & giao hàng bởi <a href="">ABC</a>.</span></p>
					<div class="list">
						Quà tặng cho sản phẩm <i class="iconmobile-mt"></i>
					</div>
					<div class="list">
						Số lượng
						<div class="float-right">
							<i class="iconmobile-daucong"></i>
							<input type="text" value="1" class="number" />
							<i class="iconmobile-dautru"></i>
						</div>
					</div>
					<div class="list">
						Màu sắc
						<div class="float-right">
							<div class="color1"></div>
							<div class="color2"></div>
							<div class="color3"></div>
							<div class="color4"></div>
							<div class="color5"></div>
						</div>
					</div>
					<div class="list tragop">
						Mua trả góp chỉ từ <span class='text'>590.308 Đ/tháng.</span>
						<br/><a class='text-click' href="">Nhập thông tin</a>
						<i class='iconmobile-mt'></i>
					</div>
					<div class="list call-hotline">
						Gọi <span>(08) 3856 3388</span> để được tư vấn trực tiếp.
					</div>

					<div class="list buy">
						<i class='iconmobile-buy'></i>
						<a href="">Đặt mua</a>
					</div>
					<div class="list call-me">
						<i class='iconmobile-call-me'></i>
						<a href="">Gọi lại cho tôi</a>						
					</div>
					<div class="list share">
						Chia sẻ cho bạn bè: <div class="fb-like" style=""></div>
					</div>
					<div class="list giacu">
						<span style='font-weight: 600;'>Mới và Cũ</span> <span style='color: #1163ac;'>(18)</span> giá từ <span style='color: #fb4c36;'>7.000.000 Đ</span>
						<i class='iconmobile-mt'></i>
					</div>
					
					<h2>Sản phẩm mua kèm</h2>
					<div class="list product-ct">
						<div class="list-img">
							<div>
								<img src="http://static.dienmaycholon.vn/product/product8029/small/product_8029_1.png?versionsmart-tivi-led.jpg">	
							</div>

							<div style="width:3%;"><i class='iconmobile-congxanh'></i></div>

							<div>
								<img src="http://static.dienmaycholon.vn/product/product8029/small/product_8029_1.png?versionsmart-tivi-led.jpg">	
							</div>

							<div style="width:3%;"><i class='iconmobile-congxam'></i></div>
							
							<div>
								<img src="http://static.dienmaycholon.vn/product/product8029/small/product_8029_1.png?versionsmart-tivi-led.jpg">	
							</div>
						</div>
						<div class="list list-pro-null">
							<div class="one">
								<input type="checkbox" checked="">
							</div>
							<div class="two">
								Sản phẩm đang xem:<br/>
								<a class="name-pro" href="">Laptop Dell Inspiron 15''(321312) idowi </a><br/>
								<span class="price">9.999.000 Đ</span>
							</div>
						</div>

						<div class="list list-pro-null">
							<div class="one">
								<input type="checkbox" checked="">
							</div>
							<div class="two">
								<a class="name-pro" href="">Laptop Dell Inspiron 15''(321312) idowi daadadsqwdqwdqwdqw dqwd dqw dqd qwdqw dqw </a><br/>
								<span class="price">9.999.000 Đ</span>
								<i class='iconmobile-mt'></i>
							</div>
						</div>

						<div class="list list-pro-null">
							<div class="one">
								<input type="checkbox" checked="">
							</div>
							<div class="two">
								<a class="name-pro" href="">Laptop Dell Inspiron 15''(321312) idowi </a><br/>
								<span class="price">9.999.000 Đ</span>
								<i class='iconmobile-mt'></i>
							</div>
						</div>

						<div class="list list-pro-null buy-group">
							<p>Tổng giá trị: <span>12.000.000 Đ</span></p>
							<div class="buy-all">Đặt mua tất cả</div>
						</div>
					</div>
					
					<!--chi tiet san pham-->
					
					<h2>Chi tiết về sản phẩm</h2>
					<div class="list product-detail">
						<div>
							Thông tin - Tính năng
							<i class="iconmobile-mt"></i>
							<div class="content">
								<ul>
									<li>product-product-detail</li>
									<li>product-product-detail</li>
									<li>product-product-detail</li>
									<li>product-product-detail</li>
									<li>product-product-detail</li>
									<li>product-product-detail</li>
									<li>product-product-detail</li>
									<li>product-product-detail</li>
									<li>product-product-detail</li>
								</ul>
							</div>
							
						</div>
						<div>
							Giới thiệu
							<i class="iconmobile-mt"></i>
							<div class="content">
								Màn hình rộng, xem phim, chơi game thích hơn Màu sắc ấn tượng<br>, Màn hình rộng, xem phim, chơi game thích hơn Màu sắc ấn tượng, Màn hình rộng, xem phim, chơi game thích hơn Màu sắc ấn tượng, Màn hình rộng, xem phim, chơi game thích hơn Màu sắc ấn tượng, Màn hình rộng, xem phim, chơi game thích hơn Màu sắc ấn tượng, Màn hình rộng, xem phim, chơi game thích hơn Màu sắc ấn tượng, Màn hình rộng, xem phim, chơi game thích hơn Màu sắc ấn tượng, Màn hình rộng, xem phim, chơi game thích hơn Màu sắc ấn tượng, Màn hình rộng, xem phim, chơi game thích hơn Màu sắc ấn tượng, Màn hình rộng, xem phim, chơi game thích hơn Màu sắc ấn tượng, Màn hình rộng, xem phim, chơi game thích hơn Màu sắc ấn tượng, Màn hình rộng, xem phim, chơi game thích hơn Màu sắc ấn tượng, Màn hình rộng, xem phim, chơi game thích hơn Màu sắc ấn tượng, Màn hình rộng, xem phim, chơi game thích hơn Màu sắc ấn tượng, Màn hình rộng, x
							</div>
							
						</div>
					</div>
					
					<!--Sản phẩm cùng hãng-->
					
					<h2>Sản phẩm cùng hãng</h2>

					<ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager='false' >
					  <ion-slide>
					    	<div class='row'>
				    			<div class='col'>
				    				<img src='http://dienmaycholon.vn/public/picture/product/product14/small/product_14_1.png?versiontivi-led-samsung-ua40h4200akxxv.jpg' />
				    				<a href='' class='title_product'>
				    					MÁY GIẶT LỒNG ĐỨNG SAMSUNG 11.0KG WA11F5S5QWA/SV 
				    				</a>
				    				<div class='button-price button button-clear button-stable'>
				    				 10.000.000 Đ
				    				</div>
				    				<strong class=' button-price button-price button button-clear button-assertive'>
				    				 10.000.000 Đ
				    				</strong>
				    			</div>
				    			<div class='col'>
				    				<img src='http://dienmaycholon.vn/public/picture/product/product14/small/product_14_1.png?versiontivi-led-samsung-ua40h4200akxxv.jpg' />
				    				<a href='' class='title_product'>
				    					MÁY GIẶT LỒNG ĐỨNG SAMSUNG 11.0KG WA11F5S5QWA/SV 
				    				</a>
				    				<strong class='button-price button button-clear button-assertive'>
				    				 10.000.000 Đ
				    				</strong>
				    			</div>
				    			<div class='col'>
				    				<img src='http://dienmaycholon.vn/public/picture/product/product14/small/product_14_1.png?versiontivi-led-samsung-ua40h4200akxxv.jpg' />
				    				<a href='' class='title_product'>
				    					MÁY GIẶT LỒNG ĐỨNG SAMSUNG 11.0KG WA11F5S5QWA/SV 
				    				</a>
				    				<strong class='button-price button button-clear button-assertive'>
				    				 10.000.000 Đ
				    				</strong>
				    			</div>
					    	</div>
					  </ion-slide>
					 <ion-slide>
					  	 <div class='row'>
					    			<div class='col'>
					    				<img src='http://dienmaycholon.vn/public/picture/product/product14/small/product_14_1.png?versiontivi-led-samsung-ua40h4200akxxv.jpg' />
					    				<a href='' class='title_product'>
					    					MÁY GIẶT LỒNG ĐỨNG SAMSUNG 11.0KG WA11F5S5QWA/SV 
					    				</a>
					    				<strong class='button-price button button-clear button-assertive'>
					    				 10.000.000 Đ
					    				</strong>
					    			</div>
					    			<div class='col'>
					    				<img src='http://dienmaycholon.vn/public/picture/product/product14/small/product_14_1.png?versiontivi-led-samsung-ua40h4200akxxv.jpg' />
					    				<a href='' class='title_product'>
					    					MÁY GIẶT LỒNG ĐỨNG SAMSUNG 11.0KG WA11F5S5QWA/SV 
					    				</a>
					    				<strong class='button-price button button-clear button-assertive'>
					    				 10.000.000 Đ
					    				</strong>
					    			</div>
					    			<div class='col'>
					    				<img src='http://dienmaycholon.vn/public/picture/product/product14/small/product_14_1.png?versiontivi-led-samsung-ua40h4200akxxv.jpg' />
					    				<a href='' class='title_product'>
					    					MÁY GIẶT LỒNG ĐỨNG SAMSUNG 11.0KG WA11F5S5QWA/SV 
					    				</a>
					    				<strong class='button-price button button-clear button-assertive'>
					    				 10.000.000 Đ
					    				</strong>
					    			</div>
					    	</div>
					  </ion-slide>					  
					</ion-slide-box>
					
					<!--So sánh sản phẩm-->
					
					<h2>So sánh sản phẩm tương tự</h2>

					<div class="list list-main-sub-product list-main-sub-product-compare compare-detail">
				    	<div class="tbl-so-sanh">
				    		<div>Hình ảnh & tên sản phẩm</div>
				    		<div>Đánh giá</div>
				    		<div>Giá bán</div>
				    		<div>Giao hàng</div>
				    		<div>ABC</div>
				    		<div>Thương hiệu</div>
				    		<div>Giá bán</div>
				    		<div>Giao hàng</div>
				    		<div>ABC</div>
				    		<div>Thương hiệu</div>

				    		<div></div>
				    	</div>
				    	<div class="tem-compare">
				    		<div>
				    			<a href="">
			    					<img src='http://dienmaycholon.vn/public/picture/product/product14/small/product_14_1.png?versiontivi-led-samsung-ua40h4200akxxv.jpg' />
			    				</a><br/>
			    				<span class='bold'>Sản phẩm đang xem: </span>
			    				<br/>
			    				<a href='' class='title_product'>
			    					MÁY GIẶT LỒNG ĐỨNG SAMSUNG 11.0KG WA11F5S5QWA/SV MÁY GIẶT LỒNG ĐỨNG SAMSUNG 11.0KG WA11F5S5QWA/SV 
			    				</a>
				    		</div>
				    		<div class="div-star"><span class='star'></span><span class='sl-star'>(333)</span></div>
				    		<div class="price">9.090.000 Đ</div>
				    		<div>Miễn phí</div>
				    		<div>ABC</div>
				    		<div>Sony</div>
				    		<div>Giá bán</div>
				    		<div>Giao hàng</div>
				    		<div>ABC</div>
				    		<div>Thương hiệu</div>
				    		<div><a class="iconmobile-buy-red" href=""></a></div>
				    	</div>
				    	<div class="tem-compare">
				    		<div>
				    			<a href="">
			    					<img src='http://dienmaycholon.vn/public/picture/product/product14/small/product_14_1.png?versiontivi-led-samsung-ua40h4200akxxv.jpg' />
			    				</a><br/>
			    				<span class='bold'>Sản phẩm đang xem: </span>
			    				<br/>
			    				<a href='' class='title_product'>
			    					MÁY GIẶT LỒNG ĐỨNG SAMSUNG 11.0KG WA11F5S5QWA/SV MÁY GIẶT LỒNG ĐỨNG SAMSUNG 11.0KG WA11F5S5QWA/SV 
			    				</a>
				    		</div>
				    		<div class="div-star"><span class='star'></span><span class='sl-star'>(333)</span></div>
				    		<div class="price">9.090.000 Đ</div>
				    		<div>Miễn phí</div>
				    		<div>ABC</div>
				    		<div>Sony</div>
				    		<div>Giá bán</div>
				    		<div>Giao hàng</div>
				    		<div>ABC</div>
				    		<div>Thương hiệu</div>
				    		<div><a class="iconmobile-buy-black" href=""></a></div>
				    	</div>
					</div>
					
					<!--Phần hỏi đáp -->
					<h2>Hỏi - Đáp thắc mắc</h2>
					
					<div class="list question">

						<div>
							<div class="question-s">
								<i class="iconmobile-dauhoi"></i>
								<div>Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?
									<p><span>yeucongnghe | 30.07.2015 - 11:12:25</span></p>
								</div>
							</div>
							<div class="answer">
								<i class="iconmobile-daucheck"></i>
								<div>
									Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu? cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu? cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?
									<p><span>oscar | 30.07.2015 - 11:12:25</span></p>
									<p><a href="">Xem tất cả 4 câu hỏi</a></p>
								</div>

							</div>
							<i class="iconmobile-mt"></i>
						</div>


						<div>
							<div class="question-s">
								<i class="iconmobile-dauhoi"></i>
								<div>Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?
									<p><span>yeucongnghe | 30.07.2015 - 11:12:25</span></p>
								</div>
							</div>
							<div class="answer">
								<i class="iconmobile-daucheck"></i>
								<div>
									Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu? cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?
									<p><span>yeucongnghe | 30.07.2015 - 11:12:25</span></p>
									<p><a href="">Xem tất cả 4 câu hỏi</a></p>
								</div>

							</div>
							<i class="iconmobile-mt"></i>
						</div>

						<div>
							<div class="question-s">
								<i class="iconmobile-dauhoi"></i>
								<div>Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?
									<p><span>yeucongnghe | 30.07.2015 - 11:12:25</span></p>
								</div>
							</div>
							<div class="answer">
								<i class="iconmobile-daucheck"></i>
								<div>
									Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu? cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?
									<p><span>yeucongnghe | 30.07.2015 - 11:12:25</span></p>
								</div>
							</div>
							<i class="iconmobile-mt"></i>
						</div>


						<div style="padding: 6px 10px 0px 10px;">
							<a href="">Xem tất cả 30 câu hỏi đã được giải đáp
							<i class="iconmobile-mt"></i>
							</a>
						</div>
					</div>
					
					<h2>Đánh giá khách hàng</h2>
					<div class="list question danhgia">
						<div>
							<span>33 đánh giá</span><br>
							<span class="star"></span>
							<span style='font-weight: 300;'>3.5 / 5</span>
							<i class="iconmobile-mt"></i>
						</div>
						<div>
							<span>Bình luận được quan tâm nhất</span><br><br>
							<span>Những tính năng ưu việt</span><br>
							<span class="star"></span>
							<div class="text">
								Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu? cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu? Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu? cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?
								<p><span class='autor'>Đăng bởi <a href="">Okasaki</a> | 02/05/2015</span></p>
								<p><i class='iconmobile-like'></i> <span class='action'>Thích (15)</span> <i class='iconmobile-dislike'></i><span class='action'>Không thích (0)</span></p>
							</div>
							<i class="iconmobile-mt"></i>
						</div>

						<div>
							<span>Những tính năng ưu việt</span><br>
							<span class="star"></span>
							<div class="text">
								Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu? cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu? Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu? cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?
								<p><span class='autor'>Đăng bởi <a href="">Okasaki</a> | 02/05/2015</span></p>
								<p><i class='iconmobile-like'></i> <span class='action'>Thích (15)</span> <i class='iconmobile-dislike'></i><span class='action'>Không thích (0)</span></p>
							</div>
							<i class="iconmobile-mt"></i>
						</div>
						<div>
							<span>Những tính năng ưu việt</span><br>
							<span class="star"></span>
							<div class="text">
								Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu? cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu? Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu? cho sản phẩm thì xem ở đâu?Tôi muốn xem danh sách điểm bảo hành cho sản phẩm thì xem ở đâu?
								<p><span class='autor'>Đăng bởi <a href="">Okasaki</a> | 02/05/2015</span></p>
								<p><i class='iconmobile-like'></i> <span class='action'>Thích (15)</span> <i class='iconmobile-dislike'></i><span class='action'>Không thích (0)</span></p>
							</div>
							<i class="iconmobile-mt"></i>
						</div>

						<div style="padding: 6px 10px 0px 10px;">
							<a href="">Xem tất cả 30 câu hỏi đã được giải đáp
							<i class="iconmobile-mt"></i>
							</a>
						</div>
					</div>

					<div class="list button-danhgia">
						<a href="">Viết bài đánh giá</a>
					</div>
					<div class="list button-dichvu">
						<a href="">Dịch vụ tư vấn</a>
					</div>

					<h2>Sản phẩm vừa xem</h2>
					<div class="list product-saw">
						<div>
							<img src='http://dienmaycholon.vn/public/picture/product/product14/small/product_14_1.png?versiontivi-led-samsung-ua40h4200akxxv.jpg' />
						</div>
						<div>
							<img src='http://dienmaycholon.vn/public/picture/product/product14/small/product_14_1.png?versiontivi-led-samsung-ua40h4200akxxv.jpg' />
						</div>
						<div>
							<img src='http://dienmaycholon.vn/public/picture/product/product14/small/product_14_1.png?versiontivi-led-samsung-ua40h4200akxxv.jpg' />
						</div>
						<i class='iconmobile-mt'></i>
					</div>



					<h2>Sản phẩm tương tự</h2>

					<ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager='false' >
					  <ion-slide>
					    	<div class='row'>
				    			<div class='col'>
				    				<img src='http://dienmaycholon.vn/public/picture/product/product14/small/product_14_1.png?versiontivi-led-samsung-ua40h4200akxxv.jpg' />
				    				<a href='' class='title_product'>
				    					MÁY GIẶT LỒNG ĐỨNG SAMSUNG 11.0KG WA11F5S5QWA/SV 
				    				</a>
				    				<div class='button-price button button-clear button-stable'>
				    				 10.000.000 Đ
				    				</div>
				    				<strong class=' button-price button-price button button-clear button-assertive'>
				    				 10.000.000 Đ
				    				</strong>
				    			</div>
				    			<div class='col'>
				    				<img src='http://dienmaycholon.vn/public/picture/product/product14/small/product_14_1.png?versiontivi-led-samsung-ua40h4200akxxv.jpg' />
				    				<a href='' class='title_product'>
				    					MÁY GIẶT LỒNG ĐỨNG SAMSUNG 11.0KG WA11F5S5QWA/SV 
				    				</a>
				    				<strong class='button-price button button-clear button-assertive'>
				    				 10.000.000 Đ
				    				</strong>
				    			</div>
				    			<div class='col'>
				    				<img src='http://dienmaycholon.vn/public/picture/product/product14/small/product_14_1.png?versiontivi-led-samsung-ua40h4200akxxv.jpg' />
				    				<a href='' class='title_product'>
				    					MÁY GIẶT LỒNG ĐỨNG SAMSUNG 11.0KG WA11F5S5QWA/SV 
				    				</a>
				    				<strong class='button-price button button-clear button-assertive'>
				    				 10.000.000 Đ
				    				</strong>
				    			</div>
					    	</div>
					  </ion-slide>
					 <ion-slide>
					  	 <div class='row'>
			    			<div class='col'>
			    				<img src='http://dienmaycholon.vn/public/picture/product/product14/small/product_14_1.png?versiontivi-led-samsung-ua40h4200akxxv.jpg' />
			    				<a href='' class='title_product'>
			    					MÁY GIẶT LỒNG ĐỨNG SAMSUNG 11.0KG WA11F5S5QWA/SV 
			    				</a>
			    				<strong class='button-price button button-clear button-assertive'>
			    				 10.000.000 Đ
			    				</strong>
			    			</div>
			    			<div class='col'>
			    				<img src='http://dienmaycholon.vn/public/picture/product/product14/small/product_14_1.png?versiontivi-led-samsung-ua40h4200akxxv.jpg' />
			    				<a href='' class='title_product'>
			    					MÁY GIẶT LỒNG ĐỨNG SAMSUNG 11.0KG WA11F5S5QWA/SV 
			    				</a>
			    				<strong class='button-price button button-clear button-assertive'>
			    				 10.000.000 Đ
			    				</strong>
			    			</div>
			    			<div class='col'>
			    				<img src='http://dienmaycholon.vn/public/picture/product/product14/small/product_14_1.png?versiontivi-led-samsung-ua40h4200akxxv.jpg' />
			    				<a href='' class='title_product'>
			    					MÁY GIẶT LỒNG ĐỨNG SAMSUNG 11.0KG WA11F5S5QWA/SV 
			    				</a>
			    				<strong class='button-price button button-clear button-assertive'>
			    				 10.000.000 Đ
			    				</strong>
			    			</div>
					    </div>
					  </ion-slide>					  
					</ion-slide-box>
				</div>

				<!--
				<div class="list step4">
					a
				</div>-->
			</div>
			



            <!-- Footer -->
			<div class="footer">
				<div class="list bg_backtotop">
					<a href=""><i class="iconmobile-backtotop"></i><br/> Lên đầu trang</a>					
				</div>
				
				<div class="list list-inset">
				  <label class="item item-input">				    
				    <input type="text" placeholder="Nhập từ khóa tìm kiếm...">
				    
				  </label>
				  <div class="iconmobile-search"></div>
				</div>
				<div class="list list-chinhanh">
					<div class='a'>
						<div class="chinhanh">
							
						</div>    					
    				</div>
    				<div class="a">
    					<div class='bg_facebook'>
    						<div class="fb-like" style="position: absolute;top: 60px;margin-left: 20px;"></div>
    					</div>
    				</div>
    				<div class="a">
    					<div class="row">
    						<ul>
    							<li><a href="#">Giới thiệu chung</a></li>
    							<li><a href="#">Mua hàng online</a></li>
    							<li><a href="#">Thẻ thành viên Chợ Lớn</a></li>
    						</ul>
    						<p>© 2001 - 2015, Công ty TNHH Cao Phong</p>
    					</div>
    				</div>
				</div>	
			</div>
	        <!-- End Footer -->   
        
        
            </ion-content>
		


        </ion-side-menu-content>
		<ion-side-menu side='left'>
			 <header class="bar bar-header" fade-header>
			  <h1 class="title"><a href="#"><img src="img/logo.png" alt="Điện máy chợ lớn" title="Điện máy chợ lớn"></a></h1>
			</header>
			<ion-content has-header="true">			   
		      <div class="list">
		      	<i class="iconmobile-cart"></i><strong>Giỏ hàng: </strong><span class="numcart">0 Đ</span>
		      </div>
			  <div class="list menu">
			  	<ul>
			  		<li><i class="iconmobile-menu-all"></i><a href="">Tất cả danh mục</a></li>
			  		<li><i class="iconmobile-check-order"></i><a href="">Kiểm tra đơn hàng</a></li>
			  		<li><i class="iconmobile-login"></i><a href="">Đăng ký - Đăng nhập</a><a href=""><i class="iconmobile-face"></i></a></li>
			  		<li><i class="iconmobile-desktop"></i><a href="">Chuyển sang phiên bản Desktop</a></li>
			  		
			  	</ul>
			  </div>
			  <div class="list list-lienhe">
			  	<i class="iconmobile-hotline"></i><span>(08) 3856 3388</span>
			  	<p>(Online từ 8h30 đến 21h00 từ Thứ 2 đến Chủ Nhật)</p>
			  </div>		   
			</ion-content>
		</ion-side-menu>


   </ion-side-menus>
  </div>


  <ion-footer-bar class="bar-footer">
      <a href="tel:08 3856 3388 ">
       <div class="iconmobile-bg_call"></div>
      </a>    
  </ion-footer-bar>

  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.4&appId=566700460081717";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>
