

			 <ng-include src="'/templates/front/headercate.html'"></ng-include>


			<div class="list list-main-sub-product">
				
		    	<div class='row' ng-repeat="product in listproduct| limitTo:pageSize">
	    			<div class="left">
	    				 <a href='/chi-tiet-san-pham/{{product["myid"]}}_{{ValidateData.toAlias(product["name"])}}_1_0' >

			                         <img title="{{product['name']}}" alt="{{product['name']}}" src="{{LINK_IMG}}product{{product['myid']}}/small/product_{{product['myid']}}_1.png" />
			                         
                         </a>
	    			</div>
    				<div class="right">
	    				 <a href='/chi-tiet-san-pham/{{product["myid"]}}_{{ValidateData.toAlias(product["name"])}}_1_0'  class='title_product ddd'>

		                             {{product['name']}}
		                          </a>


	    				  <div  ng-controller="RatingController as rating">
                           <star-rating ng-model="product['rating']" readonly="rating.isReadonly"></star-rating>
                            <small class=''>
                              ({{product['countrating']}})
                            </small>
                           
                          </div>


	    				 <div ng-if="product['coupons']" >
                                      
                                         
                                           <div class='button-price button button-clear button-stable' to-Price="product['saleprice']">
                                      </div>
                                      <strong class=' button-price button-price button button-clear button-assertive' to-Price="product['discount']">
                                      </strong>
                                     
                                      <div class="coupon-box-2">
                                                    <div class="coupon-box">
                                                      <div class="coupon-header">
                                                      Nhập mã <div>{{product['coupons']}}</div>
                                                      </div>
                                                      <div class="coupon-content">
                                                        Giảm thêm : <span to-Price="product['discountcoupon']"></span>
                                                      </div>
                                                    </div>
                                                </div>
                            	  </div>
                                <div ng-if="!product['coupons']" >
                                  <div ng-if="product['isprice']=='1'">
                                     

                                      <div class='button-price button button-clear button-stable'   to-Price="product['saleprice']">
				    				
					    				</div>
					    				
					    				<strong class=' button-price button-price button button-clear button-assertive' to-Price="product['discount']">
					    			
					    				</strong>
					    		<div class="iconmobile-giamgia" ng-if="product['saleprice']/product['discount'] > 30"
					    		to-dis="(product['saleprice']/product['discount'])"
					    		></div>
                                  </div>
                                   <div ng-if="product['isprice']!='1'">
                                      <div class='button-price button button-clear button-stable' to-Price="product['saleprice']">
                                      
                                      </div>
                                      <div>
                                        <img  class='auto_images dau_gia'   src='http://m.dienmaycholon.vn/public/default/img/dau_gia_2.png'  />
                                      </div>
                                        
                                  </div>
                                </div>

                                <small>
                                <input type='checkbox' 
                                 type="checkbox" ng-change="changeCompare(bool[product['myid']], product['myid'])" ng-model="bool[product['myid']]" />So sánh
                                  </small>
    				</div>
		    	</div>


		    	 <button class="button more-product" ng-click="loadNextPage()" ng-show='show_paginate'>
          				  <a href="#" ng-click='loadNextPage()'>Xem thêm sản phẩm...</a>
      			  </button>
			</div>


			
			<div class="list list-cate-menu">
				<ul ng-repeat="c in my_cate">
					
					<li>
						<a href="/danh-muc/{{c['id']}}/{{ValidateData.toAlias(c['name'])}}" title="{{c['name']}}">
					      <span>{{c['name']}}</span>
					      <span class="iconmobile-mt"></span>		      
					    </a>
					</li>
				</ul>


			</div>


