  			 <ng-include src="'/templates/front/headercate.html'"></ng-include>

			
			<div class="list list-main-sub-product list-main-sub-product-compare">
		    	<div class="tbl-so-sanh">
		    		<div style='height:200px'>Hình ảnh & tên sản phẩm</div>
		    		<div>Đánh giá</div>
		    		<div>Giá bán</div>
		    		<div>Giao hàng</div>
		    		<div>Bán bởi</div>
		    		<div>Thương hiệu</div>

		    		<div ng-repeat="e in list_element">{{e['name']}}</div>
		    		

		    		<div></div>
		    	</div>


		    	<div class="tem-compare" ng-repeat='c in listproduct'>
		    		 <div style="height:200px">
		    				 <a href='/chi-tiet-san-pham/{{c["product"]["myid"]}}_{{ValidateData.toAlias(c["product"]["name"])}}_1_0' >

			                         <img title="{{c['product']['name']}}" alt="{{c['product']['name']}}" src="{{LINK_IMG}}product{{c['product']['myid']}}/small/product_{{c['product']['myid']}}_1.png" />
			                         
                         </a>

		    			<br/>
	    				<span class='bold'>Sản phẩm đang xem: </span>
	    				<br/>
	    			


	    				 <a href='/chi-tiet-san-pham/{{c["product"]["myid"]}}_{{ValidateData.toAlias(c["product"]["name"])}}_1_0' class='title_product' >

			                       {{c["product"]["name"]}}
			                         
                         </a>
			                     
		    		</div>
		    		<div class="div-star">
		    				  <span  ng-controller="RatingController as rating">
                           <star-rating ng-model="c['product']['rating']" readonly="rating.isReadonly"></star-rating>
                            <small class=''>
                              ({{c['product']['countrating']}})
                            </small>
                           
                          </span>

		    		</div>
		    		<div class="price">
		    				


                                <span  >
                                  <span ng-if="c['product']['isprice']=='1'">
                                     

                                    
					    				
					    				<strong class=' button-price button-price button button-clear button-assertive' to-Price="c['product']['discount']">
					    			
					    				</strong>
					    		
                                  </span>
                                   <span ng-if="c['product']['isprice']!='1'">
                                      <span class='button-price button-price button button-clear button-assertive' to-Price="c['product']['saleprice']">
                                      
                                      </span>
                                    
                                        
                                  </span>
                                </span>



		    		</div>
		    		<div>Miễn phí</div>
		    		<div>{{c['product']['myname']}}</div>
		    			<div>

		    			<img src="http://m.dienmaycholon.vn/img/picture/series/icon/icon_{{c['product']['cid_series']}}.png" >

		    			</div>


		    		<div  ng-repeat="v in c['template']">
		    				
		    					{{v.val}}
		    				
		    			
		    		</div>
		    		
		    		<div><a class="iconmobile-buy-red" href="" ng-controller="ButtonOrder"	  ng-click="buyproduct(c['product']['myid'],c['product']['cid_supplier'],1,0)"></a></div>
		    	</div>


			</div>
			<div class="list list-cate-menu">
				<ul>
					<li>
						<a href='/danh-muc/{{my_child["id"]}}/{{ValidateData.toAlias(my_child["name"])}}'>
					      <span>Xem tất cả {{my_child['name']}}</span>
					      <span class="iconmobile-mt"></span>		      
					    </a>
			    	</li>
					
				</ul>
			</div>