
			<div class="list content-product-detail">
				
				<div class="list step1">
					<p><span class='name_product'>{{product['name']}}</span></p>
					<p><span class='text'>Sản xuất bởi </span><span class='text name-seri padding-right-10'>
					<img src="http://m.dienmaycholon.vn/img/picture/series/icon/icon_{{product['cid_series']}}.png" alt="{{product['name']}}" title="{{product['name']}}" />
					 </span> | <span class="text padding-left-10"> Mã SAP: {{product['sap_code']}}</span></p>
				
							
                     <p ng-repeat="a in [1]">
                     		 <span  ng-controller="RatingController as rating">
			                        <star-rating ng-model="myrating" readonly="rating.isReadonly"></star-rating>
			                            <small class='sl-star'>
			                              ({{product['countrating']}})
			                            </small>
			                        </span>
                     </p>

					<div>
						<ion-slide-box on-slide-changed="slideHasChanged($index)">				
						  <ion-slide ng-repeat='im in list_image'>
						    <div class="box slideshow_main"  >
						    	<img ng-src="http://static.dienmaycholon.vn/product/product{{product['myid']}}/{{im}}">
						    </div>
						  </ion-slide>
						 					  
						</ion-slide-box>
					</div>
				</div>
				<div class="list step2">

					
						<div ng-if="product['isprice']==1">
						<table>
							<tr>
								<td class="text-right" >Giá thị trường:</td>
								<td><span class="price-tt" to-Price="product['saleprice']"></span></td>
							</tr>
							<tr>
								<td class="text-right">Giá bán:</td>
								<td><span class="price-gb" to-Price="product['discount']"></span></td>
							</tr>
							<tr>
								<td></td>
								<td><span class="ship-free">+ Giao hàng <span>MIỄN PHÍ.</span> <a href="/quy-dinh-giao-hang" >Xem chi tiết</a></span></td>
							</tr>
							<tr ng-if="product['saleprice']>product['discount']">
								<td class="text-right">Tiết kiệm:</td>
								<td><span class="price-tk" to-Price="product['saleprice']-product['discount']"></span> (<span class="price-tk" to-Discount="product['discount']/product['saleprice']*100"></span>) </td>
							</tr>
							<tr ng-if='product["coupon"]'>
								<td></td>
								<td>
									
										 <div class='product["coupont"]'>

					    				  <div class="coupon-box-2">
	                                                    <div class="coupon-box">
	                                                      <div class="coupon-header">
	                                                      Nhập mã <div>{{product['coupons']}}</div>
	                                                      </div>
	                                                      <div class="coupon-content">
	                                                        Giảm thêm : <span to-Price="product['discountcoupon']"></span>
	                                                      </div>
	                                                    </div>
	                                       </div>
				 			  		 </div>
								</td>
							</tr>
						</table>
						</div>


						<div ng-if="product['isprice']!=1">
						<table>
							<tr>
								<td class="text-right" >Giá bán:</td>
								<td><span class="price-gb" to-Price="product['saleprice']"></span></td>
							</tr>
							<tr>
								<td class="text-right"></td>
								<td><img  class='auto_images'  src='http://m.dienmaycholon.vn/public/default/img/dau_gia.png' /></td>
							</tr>
							<tr>
								<td></td>
								<td><span class="ship-free">+ Giao hàng <span>MIỄN PHÍ.</span> <a href="/quy-dinh-giao-hang" >Xem chi tiết</a></span></td>
							</tr>
							<tr ng-if='product["coupon"]'>
								<td></td>
								<td>
									
										 <div class='product["coupont"]'>

					    				  <div class="coupon-box-2">
	                                                    <div class="coupon-box">
	                                                      <div class="coupon-header">
	                                                      Nhập mã <div>{{product['coupons']}}</div>
	                                                      </div>
	                                                      <div class="coupon-content">
	                                                        Giảm thêm : <span to-Price="product['discountcoupon']"></span>
	                                                      </div>
	                                                    </div>
	                                       </div>
				 			  		 </div>
								</td>
							</tr>
						</table>
						</div>
				   
				   				

				</div>

			

				<div class="list step3">
				<p ng-if="product['is_sample']!='1'">
					<p ng-if="product['stock_num'] > 0">
						<span class='text' ng-if="product['stock_num']  > 5 ">Còn hàng</span>
						<span class='text' ng-if="product['stock_num']  <6 ">HÀNG HOT SẮP HẾT</span>
					</p>
				</p>
					<p ng-if="product['stock_num'] ==0 ">
						<span class='text'  ng-if="product['is_sample'] == '1' ">HẾT HÀNG</span>
						<span class='text'  ng-if="product['is_sample'] != '1' ">HÀNG SẮP VỀ</span>
					</p>


					<p><span>Bán & giao hàng bởi <a href="">{{product['name_supplier']}}</a>.</span></p>
					<div class="list" ng-if="list_gift">
						Quà tặng cho sản phẩm <i class="iconmobile-mt"></i>
						<ul class='list'>
								<li ng-if="list_gift['gift']['description']" ng-bind-html="list_gift['gift']['description']">
								</li>
								<li ng-if="list_gift['press']['description']" ng-bind-html="list_gift['press']['description']">
								</li>
								<li ng-repeat="text in list_gift" ng-bind-html="text['name']">
								</li>
								
						</ul>
						
					</div>




					<div class="list">
						Số lượng
						<div class="float-right">
							<i class="iconmobile-daucong" ng-click='change_value(1)'></i>
							<input  ng-minlength='1' ng-maxlength='100' type="number" ng-change='check_number()' class="number" ng-model='mylimit'/>
							<i class="iconmobile-dautru" ng-click="change_value(-1)"></i>
						</div>
					</div>
					<div class="list" ng-if="product['color']">
						Màu sắc
						<div class="float-right">
							<div class="color1"></div>
							<div class="color2"></div>
							<div class="color3"></div>
							<div class="color4"></div>
							<div class="color5"></div>
						</div>
					</div>
					<div class="list tragop" ng-if="permin">
						Mua trả góp chỉ từ <span class='text' to-Price="permin"></span>/tháng.
						<br/><a class='text-click' href="">Nhập thông tin</a>
						<i class='iconmobile-mt'></i>
					</div>
					<div class="list call-hotline">
						Gọi <span>(08) 3856 3388</span> để được tư vấn trực tiếp.
					</div>

					<div class="list buy">
						<i class='iconmobile-buy'></i>
						<a href="">Đặt mua</a>
					</div>
					<div class="list call-me">
						<i class='iconmobile-call-me'></i>
						<a href="">Gọi lại cho tôi</a>						
					</div>
					<div class="list share">
						Chia sẻ cho bạn bè: <div class="fb-like" style=""></div>
					</div>
					<div class="list giacu" ng-if="old_new['new']['price']">
						<span style='font-weight: 600;'>Mới </span> 
						<span style='color: #1163ac;'>({{old_new['new']['count']}})</span> giá từ <span style='color: #fb4c36;' to-Price="old_new['new']['price']"></span>
						<i class='iconmobile-mt'></i>
					</div>
					<div class="list giacu" ng-if="old_new['old']['price']">
						<span style='font-weight: 600;'>Cũ</span>
						<span style='color: #1163ac;'>({{old_new['old']['count']}})</span> giá từ <span style='color: #fb4c36;' to-Price="old_new['old']['price']"></span>
						<i class='iconmobile-mt'></i>
					</div>

				
					<h2 ng-if="buytogether[0]">Sản phẩm mua kèm</h2>
					<div ng-if="buytogether[0]" class="list product-ct">
						<div class="list-img">
							<div>
								<img ng-src="http://static.dienmaycholon.vn/product/product{{product['myid']}}/small/product_{{product['myid']}}_1.png?versionsmart-tivi-led.jpg">	
							</div>

							<div style="width:3%;"><i class='iconmobile-congxanh'></i></div>

							<div ng-repeat="b in buytogether">
								<img ng-src="http://static.dienmaycholon.vn/product/product{{b['myid']}}/small/product_{{b['myid']}}_1.png">	
							</div>

						
						</div>
						<div class="list list-pro-null">
							<div class="one">
								<input type="checkbox" checked="">
							</div>
							<div class="two">
								Sản phẩm đang xem:<br/>
								<a class="name-pro" href="">{{product['name']}}</a><br/>
								<span ng-if="product['isprice']==1" class="price" to-Price="product['discount']" > </span>
								<span ng-if="product['isprice']!=1" class="price" to-Price="product['saleprice']" ></span>
							</div>
						</div>

						<div class="list list-pro-null" ng-repeat="b in buytogether">
							<div class="one">
								<input type="checkbox" >
							</div>
							<div class="two">
								<a class="name-pro" href="/chi-tiet-san-pham/{{b['myid']}}_{{ValidateData.toAlias(b['name'])}}_1_0">{{b['name']}}</a><br/>
							<span ng-if="b['isprice']==1" class="price" to-Price="b['discount']" ></span>
								<span ng-if="b['isprice']!=1" class="price" to-Price="b['saleprice']" ></span>
								<i class='iconmobile-mt'></i>
							</div>
						</div>

						

						<div class="list list-pro-null buy-group">
							<p>Tổng giá trị: <span to-Price="get_total_element1"></span></p>
							<div class="buy-all">Đặt mua tất cả</div>
						</div>
					</div>
			
					<!--chi tiet san pham-->
					
					<h2  ng-click='my_show_detail()'>Chi tiết về sản phẩm</h2>
					<div class="list product-detail" ng-show='show_detail'>
						<div >

							Thông tin - Tính năng
							<i class="iconmobile-mt"></i>
							<div class="" >


								<div class="list" ng-repeat='e in list_element'>

								  <div class="item item-divider">
								  {{e['name']}}
								  </div>

								  <div class=""  ng-repeat='c in e["value"]'>
								  	<div class='row'>
								  		<small class='col'>
								  			   {{c['name']}} 
								  		</small>
								  		<small class='col'>
								  			{{c['val']}}
								  		</small>
								  	</div>
									   
								  </div>


								</div>
								
							</div>
							
						</div>
						<div>
							Giới thiệu
							<i class="iconmobile-mt"></i>
							<div class="" tin-ng-bind-html="content">
									
							</div>
							
						</div>
					</div>
					
					<!--Sản phẩm cùng hãng-->
					
					<h2>Sản phẩm cùng hãng</h2>

					<ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager='false' >
					  <ion-slide data-ng-repeat='x in [1,3,6]'>
					    	
					  <div class='row'>

                        <div class='col' ng-repeat='product in list_cate.slice(x,x+3)'>
                        

                            <a href='/chi-tiet-san-pham/{{product["myid"]}}_{{ValidateData.toAlias(product["name"])}}_{{product["cid_supplier"]}}_0'  class="" >
                              
                               <img title="{{product['name']}}" alt="{{product['name']}}" ng-src="http://static.dienmaycholon.vn/product/product{{product['myid']}}/small/product_{{product['myid']}}_1.png" />
                            </a>

                          
                        <a href='/chi-tiet-san-pham/{{product["myid"]}}_{{ValidateData.toAlias(product["name"])}}_{{product["cid_supplier"]}}_0'  class="title_product" >{{product['name']}}</a>


                              <div  ng-controller="RatingController as rating">
                               <star-rating ng-model="product['rating']" readonly="rating.isReadonly"></star-rating>
                                <small class=''>
                                  ({{product['countrating']}})
                                </small>
                               
                              </div>

                              <div ng-if="product['coupons']" >
                                      
                                         
                                          <strong class=' button-price button-price button button-clear button-assertive' to-Price="product['saleprice']">
                                          </strong>
                                     
                                      <div class="coupon-box-2">
                                                    <div class="coupon-box">
                                                      <div class="coupon-header">
                                                      Nhập mã <div>{{product['coupons']}}</div>
                                                      </div>
                                                      <div class="coupon-content">
                                                        Giảm thêm : <span to-Price="product['discountcoupon']"></span>
                                                      </div>
                                                    </div>
                                                </div>
                              </div>
                                <div ng-if="!product['coupons']" >
                                  <div ng-if="product['isprice']=='1'">
                                      <div class='button-price button button-clear button-stable' to-Price="product['saleprice']">
                                      </div>
                                      <strong class=' button-price button-price button button-clear button-assertive' to-Price="product['discount']">
                                      </strong>
                                  </div>
                                   <div ng-if="product['isprice']!='1'">
                                      <div class='button-price button button-clear button-stable' to-Price="product['saleprice']">
                                      
                                      </div>
                                      <div>
                                        <img  class='auto_images'  src='http://m.dienmaycholon.vn/public/default/img/dau_gia_2.png' />
                                      </div>
                                        
                                  </div>
                                </div>
                              
                        </div>
                       
                      </div>
					  </ion-slide>
					 			  
					</ion-slide-box>
					
					<!--So sánh sản phẩm-->
					
					<h2 ng-if="list_similar.length>0">So sánh sản phẩm tương tự</h2>

					<div ng-if="list_similar.length>0" class="list list-main-sub-product list-main-sub-product-compare compare-detail">
				    	<div class="tbl-so-sanh">
				    		<div>Hình ảnh & tên sản phẩm</div>
				    			<div>Đánh giá</div>
		    					<div>Giá bán</div>
					    		<div>Giao hàng</div>
					    		<div>Bán bởi</div>
					    		<div>Thương hiệu</div>

					    		<div ng-repeat="e in list_element">{{e['name']}}</div>
				    	

				    		<div></div>
				    	</div>


				    <div class='my-similar'>
				    	<ion-slide-box on-slide-changed="slideHasChanged($index)" delegate-handle="image-viewer-cate" show-pager='false' >

						  <ion-slide data-ng-repeat='x in [0,2] '>
				    	<div class="tem-compare1 tem-compare" ng-repeat="c in list_similar.slice(x,x+2)" >
				    		<div>
				    			<a href="">
			    					<img ng-src='http://dienmaycholon.vn/public/picture/product/product{{c["myid"]}}/small/product_{{c["myid"]}}_1.png' />
			    				</a><br/>
			    				<span class='bold'>Sản phẩm đang xem: </span>
			    				<br/>
			    				<a href='' class='title_product'>
			    					{{c['name']}}
			    				</a>
				    		</div>
				    		<div class="div-star">

				    				 <span  ng-controller="RatingController as rating">
			                           <star-rating ng-model="c['rating']" readonly="rating.isReadonly"></star-rating>
			                            <small class='sl-star'>
			                              ({{c['countrating']}})
			                            </small>
			                           
			                          </span>
				    		</div>
				    		<div class="price">
		    				 <span ng-if="c['coupons']" >
                                      
                                         
                                          <strong class=' button-price button-price button button-clear button-assertive' to-Price="c['saleprice']">
                                          </strong>
                                     
                                      <span class="span-box-2">
                                                    <span class="coupon-box">
                                                      <span class="coupon-header">
                                                      Nhập mã <span>{{product['coupons']}}</span>
                                                      </span>
                                                   
                                                    </span>
                                                </span>
                            	  </span>


                                <span ng-if="!c['coupons']" >
                                  <span ng-if="c['isprice']=='1'">
                                     

                                    
					    				
					    				<strong class=' button-price button-price button button-clear button-assertive' to-Price="c['discount']">
					    			
					    				</strong>
					    		<span class="iconmobile-giamgia" ng-if="c['saleprice']/c['discount'] > 30"
					    		to-dis="(c['saleprice']/c['discount'])"
					    		></span>
                                  </span>
                                   <span ng-if="c['isprice']!='1'">
                                      <span class='button-price button button-clear button-stable' to-Price="c['saleprice']">
                                      
                                      </span>
                                    
                                        
                                  </span>
                                </span>
		    				</div>
				    		<div>Miễn phí</div>
				    		<div>{{c['namesupplier']}}</div>
				    		<div><img ng-src="http://m.dienmaycholon.vn/img/picture/series/icon/icon_{{c['cid_series']}}.png"/></div>
				    			<div  ng-repeat="v in listproduct_element" ng-if="v.id == c['myid'] ">
		    							{{v.value}}
		    					</div>
				    		<div><a class="iconmobile-buy-red" href=""></a></div>
				    	</div>
				    	</ion-slide>
				    </ion-slide-box>
				</div>				    	



					</div>
					
					<!--Phần hỏi đáp -->
					<h2>Hỏi - Đáp thắc mắc</h2>
					
					<div class="list question">

						<div ng-repeat='q in list_question'>
							<div class="question-s">
								<i class="iconmobile-dauhoi"></i>
								<div >
										{{q['content']}}
									<p>
									<input type='hidden' ng-model="initquestion"  ng-value="q['cid_user']" ng-init="initquestion=q['cid_user']"/>
										<span>

										<span ng-bind="getnamequestion"></span> | {{q['created']}}</span></p>
								</div>
							</div>
							<div class="answer">
								<i class="iconmobile-daucheck"></i>
								<div>
									{{q['comment']}}
									<p><span>{{q['idusercomment']}} | {{q['createdcomment']}}</span></p>
									<p><a href="">Xem tất cả 4 câu hỏi</a></p>
								</div>

							</div>
							<i class="iconmobile-mt"></i>
						</div>


						

						<div style="padding: 6px 10px 0px 10px;">
							<a href="">Xem tất cả 30 câu hỏi đã được giải đáp
								<i class="iconmobile-mt"></i>
							</a>
						</div>
					</div>
					
					<h2 ng-if="list_review">Đánh giá khách hàng</h2>
					<div class="list question danhgia" ng-if="list_review">
						<div>
							<span>{{total_rate}} đánh giá</span><br>
							<span class="star"></span>
							<span style='font-weight: 300;'>{{total_avg_rate}} / 5</span>
							<i class="iconmobile-mt"></i>
						</div>
						<div ng-repeat="review in list_review">
							<span>Bình luận được quan tâm nhất</span><br><br>
							<span>{{review['title']}}</span><br>
							<span class="star"></span>
							<div class="text">
								{{review['description']}}
								<p><span class='autor'>Đăng bởi <a href="">{{review['fullname']}}</a> | {{review['created']}}</span></p>
								<p>

								<i class='iconmobile-like'></i> 
								<span class='action' ng-click='clicklikes(review["id"])'>
									Thích (
											<span  ng-bind='review["likes"]'>
											</span>
										 )
								</span> 
								<i class='iconmobile-dislike'></i>
								<span class='action' ng-click='clickunlikes(review["id"])'>Không thích (
										<span  ng-bind='review["unlikes"]'>
											</span>
										)

								</span>

								</p>
							</div>
							<i class="iconmobile-mt"></i>
						</div>

					
				
						<div style="padding: 6px 10px 0px 10px;">
							<a href="">Xem tất cả {{total_reivew}} câu hỏi đã được giải đáp
							<i class="iconmobile-mt"></i>
							</a>
						</div>
					</div>

					<div class="list button-danhgia" ng-click="popup_review()">
						<a href="javascript:;" >Viết bài đánh giá</a>
					</div>
					<div class="list button-dichvu" ng-click="popup_commend()">
						<a href="javascript:;">Dịch vụ tư vấn</a>
					</div>

					<h2>Sản phẩm vừa xem</h2>
					


						<ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager='false' >
							  <ion-slide data-ng-repeat='x in list_orther_x'>
					    	
								  <div class='row'>

			                        <div class='col' ng-repeat='p in list_orther.slice(x,x+3)'>

										  <a href="/chi-tiet-san-pham/{{p[1]}}_{{ValidateData.toAlias(p[0])}}_1_0" class="activated" >
											 <img ng-src='http://dienmaycholon.vn/public/picture/product/product{{p[1]}}/small/product_{{p[1]}}_1.png' />
										  </a>
										</div>
								</div>
							</ion-slide>
						</ion-slide-box>
							
					



					<h2>Sản phẩm tương tự</h2>

					<ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager='false' >
					  <ion-slide data-ng-repeat='x in [1,3,6]'>
					    	
					  <div class='row'>

                        <div class='col' ng-repeat='product in list_tt.slice(x,x+3)'>
                        

                            <a href='/chi-tiet-san-pham/{{product["myid"]}}_{{ValidateData.toAlias(product["name"])}}_{{product["cid_supplier"]}}'  class="" >
                              
                               <img title="{{product['name']}}" alt="{{product['name']}}" ng-src="http://static.dienmaycholon.vn/product/product{{product['myid']}}/small/product_{{product['myid']}}_1.png" />
                            </a>

                          
                        <a href='/chi-tiet-san-pham/{{product["myid"]}}_{{ValidateData.toAlias(product["name"])}}_{{product["cid_supplier"]}}'  class="title_product" >{{product['name']}}</a>


                              <div  ng-controller="RatingController as rating">
                               <star-rating ng-model="product['rating']" readonly="rating.isReadonly"></star-rating>
                                <small class=''>
                                  ({{product['countrating']}})
                                </small>
                               
                              </div>

                              <div ng-if="product['coupons']" >
                                      
                                         
                                          <strong class=' button-price button-price button button-clear button-assertive' to-Price="product['saleprice']">
                                          </strong>
                                     
                                      <div class="coupon-box-2">
                                                    <div class="coupon-box">
                                                      <div class="coupon-header">
                                                      Nhập mã <div>{{product['coupons']}}</div>
                                                      </div>
                                                      <div class="coupon-content">
                                                        Giảm thêm : <span to-Price="product['discountcoupon']"></span>
                                                      </div>
                                                    </div>
                                                </div>
                              </div>
                                <div ng-if="!product['coupons']" >
                                  <div ng-if="product['isprice']=='1'">
                                      <div class='button-price button button-clear button-stable' to-Price="product['saleprice']">
                                      </div>
                                      <strong class=' button-price button-price button button-clear button-assertive' to-Price="product['discount']">
                                      </strong>
                                  </div>
                                   <div ng-if="product['isprice']!='1'">
                                      <div class='button-price button button-clear button-stable' to-Price="product['saleprice']">
                                      
                                      </div>
                                      <div>
                                        <img  class='auto_images'  src='http://m.dienmaycholon.vn/public/default/img/dau_gia_2.png' />
                                      </div>
                                        
                                  </div>
                                </div>
                              
                        </div>
                       
                      </div>
					  </ion-slide>
					 			  
					</ion-slide-box>



				</div>

				<!--
				<div class="list step4">
					a
				</div>-->
			</div>
			
