<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Chi tiết sản phẩm</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.css" />
    <link rel="stylesheet" href="http://dienmaycholon.vn/public/default/css/jquery-ui.css" />    
    <link rel="stylesheet" href="js/raty-master/lib/jquery.raty.css">


    <link href="css/lib.css" rel="stylesheet">
    <link href="scss/style.css" rel="stylesheet">


    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <script src="js/jquery.js"></script>
	<script src="js/jquery.dotdotdot.js"></script>
	<script src="js/raty-master/lib/jquery.raty.js"></script>

    <script  src="http://dienmaycholon.vn/public/default/js/jquery-ui.js"></script>


    <script src="js/global.js"></script>
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development)
    <script src="cordova.js"></script> -->

    <!-- your app's js -->
    <script src="js/home/app.js"></script>
    <script src="js/home/controllers.js"></script>
    <script src="js/home/services.js"></script>
    <script src="js/home/default.js"></script>

  </head>
  <body ng-app="starter">
    <div ng-controller='mainController'>

      <ion-side-menus>	

        <ion-side-menu-content>
			<div class="bg_popup"></div>
            <ion-header-bar align-title="left" class="bar-positive">			

              	<h2 class="ui-title"><a href="/"><img src="img/logo.png" alt="Điện máy chợ lớn" title="Điện máy chợ lớn"></a></h2>			    

			    <a href="#" class="jqm-navmenu-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left" ng-click="toggleLeft()">Menu</a>

			    <a class="ui-btn ui-btn-right iconmobile-user notext" href="#" title="account" ng-click='show()'>Account</a>


			    <a class="ui-btn ui-btn-right iconmobile-cart notext" href="#" title="cart">Cart</a>
			    

            </ion-header-bar>



            <ion-content>
            <div class="list list-news">
        		<p class="news">
			        <a href="#" title="Tin Khuyến Mãi">Tin khuyến mãi</a>
			        <a href="#" title="Mua trả góp">Mua trả góp</a>
			        <a href="#" title="Thẻ thành viên">Thẻ thành viên</a>
			    </p>            		
        	</div>
          	<div class="list list-inset">
			  <label class="item item-input">				    
			    <input type="text" placeholder="Nhập từ khóa tìm kiếm...">
			    
			  </label>
			  <div class="iconmobile-search"></div>
			</div>

			<div class="list content-product-detail">
				<div class="list">
					<p class="thankspage">
	                    Xin chào: <b>Nguyen Van A</b>.<br/>
	                    <br/>
	                    Cảm ơn quý khách đã tham quan và mua sắm trực tuyến tại dienmaycholon.vn!<br/></br/>
	                    Chúc mừng quý khách đã đặt hàng thành công trên website của Siêu Thị Điện Máy - Nội Thất Chợ Lớn theo số đơn hàng: <span class="tag-red">312312312312312</span><br/></br/>
	                    Đơn hàng của Quý Khách sẽ được xử lý trong vòng 24 giờ kể từ khi đặt hàng thành công (riêng chiều thứ 7 và chủ nhật trong vòng 48 giờ).<br/></br/>
	                    Quý Khách vui lòng kiểm tra email: <span class="tag-red">abc@gmail.com</span>(inbox & spam) để cập nhật thông tin xác nhận đơn hàng từ <b>dienmaycholon.vn</b>.<br/></br/>
	                    Mọi thắc mắc Quý Khách vui lòng liên hệ với chúng tôi <span class="tag-red"><b>(08) 3856 3388</b></span> để được phục vụ tốt hơn.<br/></br/>
	                    Chúc Quý Khách và Gia Đình có thêm nhiều niềm vui với những sản phẩm hoàn hảo đã mua sắm tại <b>dienmaycholon.vn</b>.
	                </p>
				</div>
				<div class="bar-balanced header_bar ">
					<strong class="bt_title">
						Thông tin mua hàng
					</strong>						
			    </div>
			    <div class="list step2 cart">
			    	<form>
			    		<div class="row form-option step3">
			    			<div class="col">
			    				<div>
			    					<label>
									    Họ và Tên:								    
								    </label> Nguyên Văn A
								    </div>
								<div>
									<label>
								    	Email:								     	
								    </label> abc@gmail
								</div>
								<div>
									<label>
									    Điện thoại:									    
								    </label> 3123123123
								</div>
								<div>
									<label>
									    Thời gian muốn lấy hàng:										
									</label> 10-11-2015
								</div>
			    			</div>
			    			<div class="col">
			    				<div>
			    					<label>
									    Địa chỉ:							    
								    </label> bcd p kapodka kpas ka kaosk aoskdap apos d
								</div>
								<div>
									<label>
								    	Tỉnh/Thành phố:						    	
								    </label> An giang
								</div>
								<div>
									<label>
								    	Quận/Huyện:								    	
								    </label> Tân A
								</div>
								<div>
									<label>
									    Ghi chú: 
								    </label> Giao hàng buổi chiều
								</div>
								    
			    			</div>
			    		</div>
			    	</form>
			    </div>

			    <div class="bar-balanced header_bar ">
					<strong class="bt_title">
						Thông tin đơn hàng
					</strong>
						
			    </div>
				<div class="list step2 cart">
					<a class="item item-thumbnail-left" href="">
						<img src="http://static.dienmaycholon.vn/product/product2006/small/product_2006_1.png">
						<h2>DI ĐỘNG NOKIA LUMIA 730</h2>
						<small>
							<p>Sản xuất bởi <span class="color_default ">NOKIA</span></p>
							<p>
					      		<strong class="color_default">3.690.000 Đ</strong>
					      	</p>
					      	<p>
	                            + Giao hàng <strong>MIỄN PHÍ</strong>
	                        </p>
	                        <p>
	                            <span class="tag-pay">Còn hàng.</span>
	                        </p>
	                        <p class="color_one">
	                             Tiết kiệm:<br>
	                                    300.000 Đ (8%)
							</p>
						</small>
						<label class="item-price item item-input item-select">
							<div class="input-label">Số lượng</div>
							<select disabled="">
								<option>0</option>
								<option>1</option>
								<option>20</option>
							</select>
						</label>
					</a>
				</div>
				<p>
					<span class="button button-clear button-assertive">
					 Tổng cộng (1 sản phẩm): <strong class="abc" style="">3.690.000 Đ</strong>
					</span>
				</p>				
			</div>
			



            <!-- Footer -->
			<div class="footer">
				<div class="list bg_backtotop">
					<a href=""><i class="iconmobile-backtotop"></i><br/> Lên đầu trang</a>					
				</div>
				
				<div class="list list-inset">
				  <label class="item item-input">				    
				    <input type="text" placeholder="Nhập từ khóa tìm kiếm...">
				    
				  </label>
				  <div class="iconmobile-search"></div>
				</div>
				<div class="list list-chinhanh">
					<div class='a'>
						<div class="chinhanh">
							
						</div>    					
    				</div>
    				<div class="a">
    					<div class='bg_facebook'>
    						<div class="fb-like" style="position: absolute;top: 60px;margin-left: 20px;"></div>
    					</div>
    				</div>
    				<div class="a">
    					<div class="row">
    						<ul>
    							<li><a href="#">Giới thiệu chung</a></li>
    							<li><a href="#">Mua hàng online</a></li>
    							<li><a href="#">Thẻ thành viên Chợ Lớn</a></li>
    						</ul>
    						<p>© 2001 - 2015, Công ty TNHH Cao Phong</p>
    					</div>
    				</div>
				</div>	
			</div>
	        <!-- End Footer -->   
        
        
            </ion-content>
		


        </ion-side-menu-content>
		<ion-side-menu side='left'>
			 <header class="bar bar-header" fade-header>
			  <h1 class="title"><a href="#"><img src="img/logo.png" alt="Điện máy chợ lớn" title="Điện máy chợ lớn"></a></h1>
			</header>
			<ion-content has-header="true">			   
		      <div class="list">
		      	<i class="iconmobile-cart"></i><strong>Giỏ hàng: </strong><span class="numcart">0 Đ</span>
		      </div>
			  <div class="list menu">
			  	<ul>
			  		<li><i class="iconmobile-menu-all"></i><a href="">Tất cả danh mục</a></li>
			  		<li><i class="iconmobile-check-order"></i><a href="">Kiểm tra đơn hàng</a></li>
			  		<li><i class="iconmobile-login"></i><a href="">Đăng ký - Đăng nhập</a><a href=""><i class="iconmobile-face"></i></a></li>
			  		<li><i class="iconmobile-desktop"></i><a href="">Chuyển sang phiên bản Desktop</a></li>
			  		
			  	</ul>
			  </div>
			  <div class="list list-lienhe">
			  	<i class="iconmobile-hotline"></i><span>(08) 3856 3388</span>
			  	<p>(Online từ 8h30 đến 21h00 từ Thứ 2 đến Chủ Nhật)</p>
			  </div>		   
			</ion-content>
		</ion-side-menu>


   </ion-side-menus>
  </div>


  <ion-footer-bar class="bar-footer">
      <a href="tel:08 3856 3388 ">
       <div class="iconmobile-bg_call"></div>
      </a>    
  </ion-footer-bar>

  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.4&appId=566700460081717";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>
