<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Hệ thống chi nhánh</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.css" />
    <link rel="stylesheet" href="http://dienmaycholon.vn/public/default/css/jquery-ui.css" />    
    <link rel="stylesheet" href="js/raty-master/lib/jquery.raty.css">


    <link href="css/lib.css" rel="stylesheet">
    <link href="scss/style.css" rel="stylesheet">


    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <script src="js/jquery.js"></script>
	<script src="js/jquery.dotdotdot.js"></script>
	<script src="js/raty-master/lib/jquery.raty.js"></script>

    <script  src="http://dienmaycholon.vn/public/default/js/jquery-ui.js"></script>


    <script src="js/global.js"></script>
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development)
    <script src="cordova.js"></script> -->

    <!-- your app's js -->
    <script src="js/home/app.js"></script>
    <script src="js/home/controllers.js"></script>
    <script src="js/home/services.js"></script>
    <script src="js/home/default.js"></script>

  </head>
  <body ng-app="starter">
    <div ng-controller='mainController'>

      <ion-side-menus>	

        <ion-side-menu-content>
			<div class="bg_popup"></div>
            <ion-header-bar align-title="left" class="bar-positive">			

              	<h2 class="ui-title"><a href="/"><img src="img/logo.png" alt="Điện máy chợ lớn" title="Điện máy chợ lớn"></a></h2>			    

			    <a href="#" class="jqm-navmenu-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left" ng-click="toggleLeft()">Menu</a>

			    <a class="ui-btn ui-btn-right iconmobile-user notext" href="#" title="account" ng-click='show()'>Account</a>


			    <a class="ui-btn ui-btn-right iconmobile-cart notext" href="#" title="cart">Cart</a>
			    

            </ion-header-bar>



            <ion-content>
            <div class="list list-news">
        		<p class="news">
			        <a href="#" title="Tin Khuyến Mãi">Tin khuyến mãi</a>
			        <a href="#" title="Mua trả góp">Mua trả góp</a>
			        <a href="#" title="Thẻ thành viên">Thẻ thành viên</a>
			    </p>            		
        	</div>
          	<div class="list list-inset">
			  <label class="item item-input">				    
			    <input type="text" placeholder="Nhập từ khóa tìm kiếm...">
			    
			  </label>
			  <div class="iconmobile-search"></div>
			</div>

			<div class="list content-product-detail">
				

			    <div class="bar-balanced header_bar ">
					<strong class="bt_title">
						Hệ thống siêu thị
					</strong>
						
			    </div>
			    
				
				<div class='not_position'>
				    <ion-tabs class="tabs-positive ">
						<ion-tab title="Địa chỉ- bản đồ" >
							<div class="card padding list">
								<div>
										<p>
					  					<strong>
					  						Địa chỉ:
					  					</strong>
					  					135A/10 Trần Phú nối dài, P.7, TP. Bạc Liêu								  				</p>
					  				<p>
					  					<strong>
					  						Điện thoại: 
					  					</strong>
					  					(0781) 3952969								  				</p>
					  				<p>
					  					<strong>
					  						Số fax:
					  					</strong>
					  					(0781) 3831969								  				</p>
					  				<p>
					  					<strong>
					  						Email:
					  					</strong>
					  					online@dienmaycholon.com.vn								  				</p>
					  				<p>
					  					<strong>
					  						Diện tích:
					  					</strong>
					  					2.138 m2								  				</p>


								</div>
				  				
								<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
							    <script type="text/javascript" charset="utf-8">
							    	$(document).ready(function(){
										$(".item-click-view").click(function(){
											if($(this).find("i").hasClass("ion-chevron-up")){
												$(this).find("i").removeClass("ion-chevron-up").addClass("ion-chevron-down");
												$(this).next().slideDown(200);
											}else{
												$(this).find("i").removeClass("ion-chevron-down").addClass("ion-chevron-up");
												$(this).next().slideUp(200)
											}
										});
									})
									 jQuery(document).ready(function($) {						
									    var myOptions = {
												zoom : 18,								
												center: new google.maps.LatLng(10.75419,106.664557),
												mapTypeId : google.maps.MapTypeId.ROADMAP
											}		
											var map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);													
											var diendien = new google.maps.LatLng(10.75419,106.664557);				       
											var marker = new google.maps.Marker({														
												position : diendien,						
												map:map,
												icon : "http://dienmaycholon.vn/public/default/img/icon_places.png",
														
											})
											 var styles = [
											               {
											                 stylers: [
											                   { hue: "#00ffe6" },
											                   { saturation: -20 }
											                 ]
											               },{
											                 featureType: "road",
											                 elementType: "geometry",
											                 stylers: [
											                   { lightness: 100 },
											                   { visibility: "simplified" }
											                 ]
											               },{
											                 featureType: "road",
											                 elementType: "labels",
											                 stylers: [
											                   { visibility: "off" }
											                 ]
											               }
											             ];

											google.maps.setOptions({styles: styles});
									});
								</script>
								<div id="map-canvas" style="width: 100%; height: 600px"></div>

				  			</div>

						 </ion-tab>


						 <ion-tab title="Hồ chí minh" >
					 	 	<div class="card padding list">
								<div style="outline: none; margin: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Arial;">
									Đến đây mua sắm khách hàng không chỉ hài lòng với việc đa dạng hóa sản phẩm mà việc cập nhật thường xuyên các mẫu sản phẩm mới nhất của các hãng điện tử như: Sony, Sanyo, Samsung, Panasonic, LG, Toshiba, Electrolux, Midea, Acer, Dell… đã tạo dựng uy tín khó phai trong lòng khách hàng</div>
								<p style="outline: none; margin: 10px 0px 0px; padding: 0px; line-height: 15px; font-family: Tahoma, Arial, Helvetica, sans-serif; color: rgb(77, 77, 79);">
									7 ngành hàng kinh doanh là Điện tử, Điện lạnh, Di động, Vi tính, Gia dụng, Viễn thông, Nội thất được bố trí và sắp xếp theo từng khu vực khác nhau luôn tạo cảm giác thoải mái và tiện lợi cho khách hàng tham quan và mua sắm.&nbsp;<br style="outline: none; margin: 0px; padding: 0px;">
									<br style="outline: none; margin: 0px; padding: 0px;">
									Không chỉ tạo cảm giác thoải mái cho khách hàng về cách bố trí sản phẩm mà Siêu thị Điện máy – Nội thất Chợ Lớn còn mang đến cho người tiêu dùng sự hài lòng với chất lượng, giá thành sản phẩm và dịch vụ hậu mãi. Thêm vào đó là những chương trình khuyến mãi được tổ chức theo mùa, theo lễ hội… thường xuyên diễn ra với hàng trăm sản phẩm giá rẻ nhất thị trường.&nbsp;</p>
						    </div>
						 </ion-tab>						
					</ion-tabs>

				</div>

				<div class="list list_chinhanh">
					<div class="item item-icon-right item-divider">
							<strong>
								HỆ THỐNG  28 SIÊU THỊ ĐIỆN MÁY CHỢ LỚN
							</strong>
					</div>
					<div class="item item-click-view">
					 	<div class="row">
						 	<div class="col col-10 ">
						 		<div class="rote">
						 		 12						 		 </div>
						 	</div>
						 	<div class="col">
						 		<p>Siêu thị tại khu vực</p>

									<p>
										<strong>
											TP. HỒ CHÍ MINH VÀ VÙNG LÂN CẬN

										</strong>
									</p>
						 	</div>
						 	<div class="col col-10 ">
						 		<p class=" padding-top"></p>
						 		<i class="ion-chevron-up" data-pack="default" data-tags="arrow, down"></i>
						 	</div>
					 	</div>		
					</div>
					<div class="hidden-class" style="overflow: hidden; display: none;">
						<div class="padding">						  
							<a class="padding-left" href="">
							<strong>
							QUẬN 5 ( TRỤ SỞ CHÍNH)								</strong>
							<p class="padding">
							Lô G,chung cư Hùng Vương,P.11								</p>
							</a>
							<a class="padding-left" href="">
							<strong>
							TÂY NINH								</strong>
							<p class="padding">
							Số 176 Đường 30/4, KP.4, P.3, TX.Tây Ninh, Tỉnh Tây Ninh								</p>
							</a>
							<a class="padding-left" href="">
							<strong>
							ĐỒNG NAI								</strong>
							<p class="padding">
							260 B, Phạm Văn Thuận, P. Thống Nhất, Tp. Biên Hòa								</p>
							</a>
						</div>
					</div>


					<div class="item item-click-view">
					 	<div class="row">
						 	<div class="col col-10 ">
						 		<div class="rote">
						 		 12						 		 </div>
						 	</div>
						 	<div class="col">
						 		<p>Siêu thị tại khu vực</p>

									<p>
										<strong>
											TP. HỒ CHÍ MINH VÀ VÙNG LÂN CẬN

										</strong>
									</p>
						 	</div>
						 	<div class="col col-10 ">
						 		<p class=" padding-top"></p>
						 		<i class="ion-chevron-up" data-pack="default" data-tags="arrow, down"></i>
						 	</div>
					 	</div>		
					</div>
					<div class="hidden-class" style="overflow: hidden; display: none;">
						<div class="padding">						  
							<a class="padding-left" href="">
							<strong>
							QUẬN 5 ( TRỤ SỞ CHÍNH)								</strong>
							<p class="padding">
							Lô G,chung cư Hùng Vương,P.11								</p>
							</a>
							<a class="padding-left" href="">
							<strong>
							TÂY NINH								</strong>
							<p class="padding">
							Số 176 Đường 30/4, KP.4, P.3, TX.Tây Ninh, Tỉnh Tây Ninh								</p>
							</a>
							<a class="padding-left" href="">
							<strong>
							ĐỒNG NAI								</strong>
							<p class="padding">
							260 B, Phạm Văn Thuận, P. Thống Nhất, Tp. Biên Hòa								</p>
							</a>
						</div>
					</div>

					<div class="item item-click-view">
					 	<div class="row">
						 	<div class="col col-10 ">
						 		<div class="rote">
						 		 12						 		 </div>
						 	</div>
						 	<div class="col">
						 		<p>Siêu thị tại khu vực</p>

									<p>
										<strong>
											TP. HỒ CHÍ MINH VÀ VÙNG LÂN CẬN

										</strong>
									</p>
						 	</div>
						 	<div class="col col-10 ">
						 		<p class=" padding-top"></p>
						 		<i class="ion-chevron-up" data-pack="default" data-tags="arrow, down"></i>
						 	</div>
					 	</div>		
					</div>
					<div class="hidden-class" style="overflow: hidden; display: none;">
						<div class="padding">						  
							<a class="padding-left" href="">
							<strong>
							QUẬN 5 ( TRỤ SỞ CHÍNH)								</strong>
							<p class="padding">
							Lô G,chung cư Hùng Vương,P.11								</p>
							</a>
							<a class="padding-left" href="">
							<strong>
							TÂY NINH								</strong>
							<p class="padding">
							Số 176 Đường 30/4, KP.4, P.3, TX.Tây Ninh, Tỉnh Tây Ninh								</p>
							</a>
							<a class="padding-left" href="">
							<strong>
							ĐỒNG NAI								</strong>
							<p class="padding">
							260 B, Phạm Văn Thuận, P. Thống Nhất, Tp. Biên Hòa								</p>
							</a>
						</div>
					</div>

				</div>
				
			</div>
			



            <!-- Footer -->
			<div class="footer">
				<div class="list bg_backtotop">
					<a href=""><i class="iconmobile-backtotop"></i><br/> Lên đầu trang</a>					
				</div>
				
				<div class="list list-inset">
				  <label class="item item-input">				    
				    <input type="text" placeholder="Nhập từ khóa tìm kiếm...">
				    
				  </label>
				  <div class="iconmobile-search"></div>
				</div>
				<div class="list list-chinhanh">
					<div class='a'>
						<div class="chinhanh">
							
						</div>    					
    				</div>
    				<div class="a">
    					<div class='bg_facebook'>
    						<div class="fb-like" style="position: absolute;top: 60px;margin-left: 20px;"></div>
    					</div>
    				</div>
    				<div class="a">
    					<div class="row">
    						<ul>
    							<li><a href="#">Giới thiệu chung</a></li>
    							<li><a href="#">Mua hàng online</a></li>
    							<li><a href="#">Thẻ thành viên Chợ Lớn</a></li>
    						</ul>
    						<p>© 2001 - 2015, Công ty TNHH Cao Phong</p>
    					</div>
    				</div>
				</div>	
			</div>
	        <!-- End Footer -->   
        
        
            </ion-content>
		


        </ion-side-menu-content>
		<ion-side-menu side='left'>
			 <header class="bar bar-header" fade-header>
			  <h1 class="title"><a href="#"><img src="img/logo.png" alt="Điện máy chợ lớn" title="Điện máy chợ lớn"></a></h1>
			</header>
			<ion-content has-header="true">			   
		      <div class="list">
		      	<i class="iconmobile-cart"></i><strong>Giỏ hàng: </strong><span class="numcart">0 Đ</span>
		      </div>
			  <div class="list menu">
			  	<ul>
			  		<li><i class="iconmobile-menu-all"></i><a href="">Tất cả danh mục</a></li>
			  		<li><i class="iconmobile-check-order"></i><a href="">Kiểm tra đơn hàng</a></li>
			  		<li><i class="iconmobile-login"></i><a href="">Đăng ký - Đăng nhập</a><a href=""><i class="iconmobile-face"></i></a></li>
			  		<li><i class="iconmobile-desktop"></i><a href="">Chuyển sang phiên bản Desktop</a></li>
			  		
			  	</ul>
			  </div>
			  <div class="list list-lienhe">
			  	<i class="iconmobile-hotline"></i><span>(08) 3856 3388</span>
			  	<p>(Online từ 8h30 đến 21h00 từ Thứ 2 đến Chủ Nhật)</p>
			  </div>		   
			</ion-content>
		</ion-side-menu>


   </ion-side-menus>
  </div>


  <ion-footer-bar class="bar-footer">
      <a href="tel:08 3856 3388 ">
       <div class="iconmobile-bg_call"></div>
      </a>    
  </ion-footer-bar>

  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.4&appId=566700460081717";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>
