<div class="list content-product-detail">				

			    <div class="bar-balanced header_bar ">
					<strong class="bt_title">
						Đăng nhập tài khoản
					</strong>
						
			    </div>		    
				
				<div class='not_position'>
					<div class="list step2 cart">					
	    				<div>
	    					<label>
							    
							    <input placeholder="Tên đăng nhập && Email" ng-model="login.username" name="name" type="text" >
							    <p style="color:red" ng-if="myerror['username']" ng-bind="myerror['username']">
							    </p>
						    </label>
						    <label>
						    	
						     	<input placeholder="Mật khẩu" name="passowrd" ng-model="login.password" type="password" value="">
						     	 <p style="color:red" ng-if="myerror['passowrd']" ng-bind="myerror['passowrd']">
							    </p>
						    </label>
						    
	    				</div>				    	
					</div>
					<div class="list step3">
						<div class="list buy" ng-click="clicklogin()">						
							<a href="javascript:;">Đăng nhập</a>
						</div>				
					</div>
				</div>
				
			</div>
			