<div class="list content-product-detail">				

			    <div class="bar-balanced header_bar ">
					<strong class="bt_title">
						Đăng nhập tài khoản
					</strong>
						
			    </div>		    
				
				<div class='not_position'>
					<div class="list step2 cart">					
	    				<div>
	    					<label>
							    
							    <input placeholder="Họ và Tên" name="name" type="text" value="">
						    </label>
						    <label>
						    	
						     	<input placeholder="Email" name="email" type="text" value="">
						    </label>
						    
	    				</div>				    	
					</div>
					<div class="list step3">
						<div class="list buy">						
							<a href="">Đăng nhập</a>
						</div>				
					</div>
				</div>
				
			</div>
			