
			<div class="list content-product-detail">				

			    <div class="bar-balanced header_bar ">
					<strong class="bt_title">
						Thông tin cá nhân
					</strong>
						
			    </div>		    
				
				<div class='not_position'>
					<div class="  cart">					
	    				<div class='list'>
	    					<label class="item item-input ">						    
							    <input disabled="disabled" placeholder="Tên đăng nhập" name="name" type="text" ng-model='myprofile.username'>
							     <p  style="color:red" ng-if="myerror['username']">
						    			{{myerror['username']}}
						 		   </p>
						    </label>
						   

						
						    <label class="item item-input ">
						    	<input disabled="disabled"  placeholder="Email" name="email" type="email" ng-model='myprofile.email'>
						    	<p  style="color:red" ng-if="myerror['email']">
						    			{{myerror['email']}}
						 		   </p>
						    </label>
						    <label class="item item-input ">
						    	<input placeholder="Họ tên" name="fullname" type="text" ng-model='myprofile.fullname' >
						    	<p  style="color:red" ng-if="myerror['fullname']">
						    			{{myerror['fullname']}}
						 		   </p>
						    </label>
						    <label class="item item-input ">
						    	<input placeholder="Điện thoại" name="phone" string-to-number type="text" ng-model='myprofile.phone'>
						    	 	<p  style="color:red" ng-if="myerror['phone']">
						    			{{myerror['phone']}}
						 		   </p>
						    </label>
						    <label class="item item-input ">
						    	<input  placeholder="Ngày sinh" name="birthday" type="text" ng-model='myprofile.birthday'>
						    </label>
						    <label class="item item-input item-select">
						    	<span class="input-label">Tỉnh/Thành phố</span>
						    	<select name="city" ng-model='myprofile.city' ng-change="change_cities()"
						    	ng-options="option.id as option.name for option in list_location"
						    	>
						    		
						    	</select>
						    	<p  style="color:red;width:100%" ng-if="myerror['city']">
						    			{{myerror['city']}}
						 		   </p>
						    </label>
						    <label class="item item-input item-select">
						    	<span class="input-label">Quận/Huyện</span>
						    	<select name="distict" ng-model='myprofile.distict'
						    	ng-options="option.id as option.name for option in list_state"
						    		>
						    		
						    	</select>
						    	<p  style="color:red;width:100%" ng-if="myerror['state']">
						    			{{myerror['state']}}
						 		   </p>
						    </label>
						  
	    				</div>				    	
					</div>
					<div class="list step3">
						<div class="list buy" ng-click="profilesubmit()">						
							<a href="javascript:;">Cập nhật</a>
						</div>				
					</div>
				</div>
				
			</div>
			

