<div class="list content-product-detail">
				
				<div class="list step1 cart">
			    	<a href="#">
                        <img style="max-height:200px" class="image_cate" src="http://m.dienmaycholon.vn/img/picture/popup/dienmay_16.png">
                    </a>
			    </div>
			    <div class="bar-balanced header_bar ">
					<strong class="bt_title">
						Thông tin giao hàng
					</strong>						
			    </div>
			    <div class="list step2 cart">
			    	<form>
			    		<div class="row form-option">
			    			<div class="col">
			    				<div>
			    					<label>
									    <span>Họ và Tên</span>
									    <input placeholder="Họ và Tên" name="name" type="text" value="">
								    </label>
								    <label>
								    	<span>Email</span>
								     	<input placeholder="Email" name="email" type="text" value="">
								    </label>
								    <label>
									    <span>Điện thoại</span>
									    <input placeholder="Điện thoại" name="phone" type="text" value="">
								    </label>
								    <label>
									    <span>Thời gian muốn lấy hàng</span>
										<input value="10-11-2015" name="getdate" type="text">
									</label>
			    				</div>
			    			</div>
			    			<div class="col">
			    				<div>
			    					<label>
									    <span>Địa chỉ</span>
									    <input placeholder="Địa chỉ" name="address" type="text" value="">
								    </label>
								    <label>
								    	<span>Tỉnh/Thành phố</span>
								    	<select>
								    		<option value="1" label="An Giang">An Giang</option>
								    		<option value="2" label="Bà Rịa-Vũng Tàu">Bà Rịa-Vũng Tàu</option>
								    	</select>
								    </label>
								    <label>
								    	<span>Quận/Huyện</span>
								    	<select>
								    		<option value="1" label="An Giang">An Giang</option>
								    		<option value="2" label="Bà Rịa-Vũng Tàu">Bà Rịa-Vũng Tàu</option>
								    	</select>
								    </label>
								    <label>
									    <span>Ghi chú</span>
									    <input placeholder="Ghi chú" name="note" type="text" value="">
								    </label>
			    				</div>
			    			</div>
			    		</div>
			    	</form>
			    </div>

			    <div class="bar-balanced header_bar ">
					<strong class="bt_title">
						Hình thức thanh toán
					</strong>						
			    </div>
			    <ul class="list" style="margin: 10px 25px;">
				  <li class="item item-checkbox">
				     <label class="checkbox">
				       <input type="radio" name="pay" checked="checked" value="1">
				     </label>
				     Thanh toán tại nhà̀
				  </li>
				  <li class="item item-checkbox">
				     <label class="checkbox">
				       <input type="radio" name="pay" value="2">
				     </label>
				     Thanh toán tại siêu thị̣
				  </li>
				</ul>



			    <div class="bar-balanced header_bar ">
					<strong class="bt_title">
						Thông tin đơn hàng
					</strong>
						
			    </div>
				<div class="list step2 cart">
					<a class="item item-thumbnail-left" href="">
						<img src="http://static.dienmaycholon.vn/product/product2006/small/product_2006_1.png">
						<h2>DI ĐỘNG NOKIA LUMIA 730</h2>
						<small>
							<p>Sản xuất bởi <span class="color_default ">NOKIA</span></p>
							<p>
					      		<strong class="color_default">3.690.000 Đ</strong>
					      	</p>
					      	<p>
	                            + Giao hàng <strong>MIỄN PHÍ</strong>
	                        </p>
	                        <p>
	                            <span class="tag-pay">Còn hàng.</span>
	                        </p>
	                        <p class="color_one">
	                             Tiết kiệm:<br>
	                                    300.000 Đ (8%)
							</p>
						</small>
						<label class="item-price item item-input item-select">
							<div class="input-label">Số lượng</div>
							<select>
								<option>0</option>
								<option>1</option>
								<option>20</option>
							</select>
						</label>
						<div class="color_default">Xóa sản phẩm</div>
					</a>
				</div>
				<p>
					<span class="button button-clear button-assertive">
					 Tổng cộng (1 sản phẩm): <strong class="abc" style="">3.690.000 Đ</strong>
					</span>
				</p>
				
				<div class="list step3">
					<div class="list buy">						
						<a href="">Thanh toán</a>
					</div>
					<div class="list call-me">						
						<a href="">Tiếp tục mua hàng</a>						
					</div>					
				</div>
			</div>