<div class="list content-product-detail">
				<div class="list step1 cart" ng-controller="BannerorderCtr" >
			    	<a ng-repeat="banner in mybanner" href="{{banner.link}}">
                            <img alt="" style="max-height:200px" class="image_cate" ng-src="http://m.dienmaycholon.vn/img/picture/popup/dienmay_{{banner.id}}.png">
                    </a>
			    </div>
				<div class="bar-balanced header_bar ">
					<strong class="bt_title">
						Thông tin bên mua hàng
					</strong>						
			    </div>
			    <div class="list step2 cart">
			    	<form>
			    		<div class="row form-option step3">
			    			<div class="col">
			    				<div>
			    					<label>
									    Họ và Tên:								    
								    </label> {{list_form.name}}
								    </div>
								<div>
									<label>
								    	Email:								     	
								    </label> {{list_form.email}}
								</div>
								<div>
									<label>
									    Điện thoại:									    
								    </label> {{list_form.phone}}
								</div>
								<div>
									<label>
									    Thời gian muốn lấy hàng:										
									</label> 
									<p  ng-bind="list_form.getdate | date:'dd/MM/yyyy'">
									</p>
									
								</div>
			    			</div>
			    			<div class="col">
			    				<div>
			    					<label>
									    Địa chỉ:							    
								    </label> {{list_form.address}}
								</div>
								<div>
									<label>
								    	Tỉnh/Thành phố:						    	
								    </label> {{city.name}}
								</div>
								<div>
									<label>
								    	Quận/Huyện:								    	
								    </label> {{state.name}}
								</div>
								<div>
									<label>
									    Ghi chú: 
								    </label> {{list_form.note}}
								</div>
								    
			    			</div>
			    		</div>
			    	</form>
			    </div>

			    <div class="bar-balanced header_bar ">
					<strong class="bt_title">
						Thông tin đơn hàng
					</strong>
						
			    </div>
		<div ng-controller="OrderdetailproductCtr">
				<div class="list step2 cart" ng-repeat='product in list_product' >
					<div class="item item-thumbnail-left">
						<img ng-src="http://static.dienmaycholon.vn/product/product{{product['product']['myid']}}/small/product_{{product['product']['myid']}}_1.png" alt="{{product['product']['name']}}" title="{{product['product']['name']}}">
						<h2>{{product['product']['name']}}</h2>
						<small>
							<p>Sản xuất bởi <span class="color_default "><img alt="{{product['product']['name']}}" title="{{product['product']['name']}}" ng-src="http://m.dienmaycholon.vn/img/picture/series/icon/icon_{{product['product']['cid_series']}}.png"></span></p>
							<p>
					      		<strong class="color_default">{{product['product']['price']}}</strong>
					      	</p>


					      	<p ng-if="product['product']['is_tranc']==1">
	                            + Giao hàng <strong>MIỄN PHÍ</strong>
	                        </p>

	                        <div ng-if="product['product']['isprice']==1"  >
	                        		<p class="color_default" to-Price="product['product']['discount']"></p>
	                        </div>
	                        <div ng-if="product['product']['isprice']!=1" >
	                        		<p class="color_default" to-Price="product['product']['saleprice']"></p>
	                        		 <img  class='auto_images'  src='http://m.dienmaycholon.vn/public/default/img/dau_gia.png' />
	                        </div>

	                        <p>

	                            <span class="tag-pay" ng-if="product['product']['stock_num'] > 1">Còn hàng.</span>
	                        </p>



	                        <p class="color_one" ng-if="product['product']['discount'] < product['product']['saleprice']">
	                             Tiết kiệm:<br>
	                             <span to-Price="product['product']['saleprice']-product['product']['discount']"></span>
							</p>


						</small>
						<div>
							<label class="item-price3 item item-input ">
								<div class="input-label">Số lượng</div>



								<select  class='product_limit' ng-init="productlimit=product['order']['limit']" ng-change="changelimitorder(product['product']['myid'],productlimit)"  ng-model="productlimit">
										<option ng-repeat='x in  [1,2,3,4,5,6,7,8,9,10] ' value="{{x}}" ng-selected="{{x==product['order']['limit']}}">
												{{x}}
										</option>
								</select>
									


							</label>
						</div>
						<div>
							<a ng-click="detroy(product['product']['myid'])" class="color_default" href="javascript:;">Xóa sản phẩm</a> 
						</div>
					</div>
				</div>


				<p>
					<span class="button button-clear button-assertive">
					 Tổng cộng ({{count_product}} sản phẩm): <strong class="abc" style="" to-Price="total_cart"></strong>
					</span>
				</p>
</div>
<div class="list step3">
					<div class="list buy" ng-click='four_pay()'>						
						<a href="javascript:;">HOÀN THÀNH</a>
					</div>
					<div class="list call-me" ng-click='continue()'>						
						<a href="">Tiếp tục mua hàng</a>						
					</div>					
				</div>