
        <div id="support-online-floating">Tư vấn trực tuyến</div>
   
  
    <script type="text/javascript"> 
(function(d,t) { 
var script = d.createElement(t); script.id = 'la_x2s6df8d'; script.async = true; 
script.src = '//chat.dienmaycholon.vn/scripts/track.js'; 
var image = d.createElement('img'); script.async = true; 
image.src = '//chat.dienmaycholon.vn/scripts/pix.gif'; 
script.onload = script.onreadystatechange = function() { 
var rs = this.readyState; if (rs && (rs != 'complete') && (rs != 'loaded')) return; 
LiveAgentTracker.createButton('fc9a07d4', this); 
}; 
var placeholder = document.getElementById('support-online-floating'); 
placeholder.parentNode.insertBefore(script, placeholder); 
placeholder.parentNode.insertBefore(image, placeholder); 
placeholder.parentNode.removeChild(placeholder); 
})(document, 'script'); 
</script>