   <!-- Footer -->
      <div class="footer" ng-controller='ONTOP'>
      


        <div class="list bg_backtotop" ng-click='ontoppage()'>
          <a href="javascript:;" ><i class="iconmobile-backtotop"></i><br/> Lên đầu trang</a>          
        </div>
        <div class="list list-chinhanh">
          <div class='a'>
                <a href="/he-thong-sieu-thi">
                  <div  class="chinhanh">
                    
                  </div>              
                </a>
            </div>
            <div class="a">
              <div class='bg_facebook'>
                <div class="fb-like2" style="position: absolute;top: 60px;margin-left: 20px;"></div>
              </div>
            </div>
            <div class="a">
              <div class="row">
                <ul>
                  <li><a href="#">Giới thiệu chung</a></li>
                  <li><a href="#">Mua hàng online</a></li>
                  <li><a href="#">Thẻ thành viên Chợ Lớn</a></li>
                </ul>
                <p>© 2001 - 2015, Công ty TNHH Cao Phong</p>
              </div>
            </div>
        </div>  
      </div>
          <!-- End Footer -->   
        