   <!-- Footer -->
      <div class="footer" ng-controller='ONTOP'>
      


        <div class="list bg_backtotop" ng-click='ontoppage()'>
          <a href="javascript:;" ><i class="iconmobile-backtotop"></i><br/> Lên đầu trang</a>          
        </div>
        <div class="list list-chinhanh">
          <div class='a'>
                <a href="/he-thong-sieu-thi">
                  <div  class="chinhanh">
                    
                  </div>              
                </a>
            </div>
            <div class="a">
              <div class='bg_facebook'>
                <div class="fb-like2" style="position: absolute;top: 60px;margin-left: 20px;">
                    <iframe style="position: relative;width:100px;overflow:hidden;float:left;height:30px" src="//www.facebook.com/plugins/like.php?href=http://facebook.com/dienmaycholononline&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21&amp;appId=186694608149282" scrolling="no" frameborder="0" allowtransparency="true"></iframe>

                </div>
              </div>
            </div>
            <div class="a">
              <div class="row">
                <ul>
                  <li><a href="/gioi-thieu">Giới thiệu chung</a></li>
                  <li><a href="/huong-dan-mua-hang-online">Mua hàng online</a></li>
                  <li><a href="/quyen-loi-cua-thanh-vien">Thẻ thành viên Chợ Lớn</a></li>
                </ul>
                <p>© 2001 - 2015, Công ty TNHH Cao Phong</p>
              </div>
            </div>
        </div>  
      </div>
          <!-- End Footer -->   
        