 			 <ion-header-bar  align-title="left" >      
               <div ng-controller='HeaderController' >
                          <h2 class="ui-title"><a href="/"><img src="/img/logo.png" alt="Điện máy chợ lớn" title="Điện máy chợ lớn"></a></h2>          

                    <a href="#" class="jqm-navmenu-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left" ng-click="toggleLeft()">Menu</a>

                    <a class="ui-btn ui-btn-right iconmobile-user notext" href="#" title="account" ng-click='show()'>Account</a>


                    <a class="ui-btn ui-btn-right iconmobile-cart notext" href="/gio-hang/don-hang" title="cart">Cart</a>
                </div>

            </ion-header-bar>