               <div class="list list-news">
                            <p class="news">
                                <a href="#/tin" title="Tin Khuyến Mãi">Tin khuyến mãi</a>
                                <a href="#" title="Mua trả góp">Mua trả góp</a>
                                <a href="#" title="Thẻ thành viên">Thẻ thành viên</a>
                               </p>                
                     </div>
              <div class="list list-inset">
                              <label class="item item-input">           
                                <input type="text" placeholder="Nhập từ khóa tìm kiếm...">
                                
                              </label>
                              <div class="iconmobile-search"></div>
                </div>
                <div class='list list-inset'></div>
