  <ion-content has-header="true" ng-controller="FacebookCtr">  
 <div class="list">
            <i class="iconmobile-cart"></i><strong>Giỏ hàng: </strong><span class="numcart">0 Đ</span>
          </div>
        <div class="list menu">
          <ul>
            <li><i class="iconmobile-menu-all"></i><a href="/tat-ca-danh-muc" menu-close>Tất cả danh mục</a></li>
            <li><i class="iconmobile-check-order"></i><a href="/kiem-tra-don-hang" menu-close>Kiểm tra đơn hàng</a></li>


            <li ng-if="!my_check_user"><i class="iconmobile-login"></i>
                <a href="/dang-ky" menu-close>Đăng ký - Đăng nhập</a><a href="javascript:;"
            ng-click='facebooklogin();' menu-close><i class="iconmobile-face"></i></a></li>

             <li ng-if="my_check_user"><i class="iconmobile-login"></i><a href="/thong-tin-ca-nhan" menu-close>
              Chào bạn:  {{my_check_user}}

             </a>
             </li>
              <li ng-if="my_check_user"><i class="iconmobile-login"></i>
             <a href="javascript:;" ng-click="mylogout()" menu-close>Thoát</a></li>
            


            <li><i class="iconmobile-desktop"></i><a href="http://dienmaycholon.vn" menu-close>Chuyển sang phiên bản Desktop</a></li>
            
          </ul>
        </div>
        <div class="list list-lienhe">
          <i class="iconmobile-hotline"></i><span>(08) 3856 3388</span>
          <p>(Online từ 8h30 đến 21h00 từ Thứ 2 đến Chủ Nhật)</p>
        </div>       
    </ion-content>